tcga.nci/bcr/xml/clinical/kich/2.7/TCGA_BCR.KICH_Clinical.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema elementFormDefault="qualified" version="2.7.6"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7" 
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
	xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
	xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7" 
	xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
	xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7" 
	xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7"  
	xmlns:kirc_kirp_shared="http://tcga.nci/bcr/xml/clinical/shared/kirc_kirp/2.7" 
	xmlns:kich_nte="http://tcga.nci/bcr/xml/clinical/kich/shared/new_tumor_event/2.7/1.0" 
	xmlns:follow_up_v4.4="http://tcga.nci/bcr/xml/clinical/kich/followup/2.7/4.4" 
	xmlns="http://tcga.nci/bcr/xml/clinical/kich/2.7" 
	targetNamespace="http://tcga.nci/bcr/xml/clinical/kich/2.7">
	
	<xs:annotation>
		<xs:documentation xml:lang="en">Schema to define the elements of the kich study.</xs:documentation>
	</xs:annotation>

	<xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/kich/shared/new_tumor_event/2.7/1.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/kich/shared/2.7/TCGA_BCR.KICH_Clinical_NTEs_v1.0.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/kirc_kirp/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_KIRC_KIRP_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/kich/followup/2.7/4.4" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/kich/followup/2.7/TCGA_BCR.KICH_Clinical_FollowUp_v4.4.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd"/>
	
	<xs:element name="tcga_bcr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:admin"/>
				<xs:element ref="patient"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="shared:tissue_source_site"/>
				<xs:element ref="shared:patient_id"/>
				<xs:element ref="shared:bcr_patient_barcode"/>
				<xs:element ref="shared:bcr_patient_uuid"/>
				<xs:element ref="clin_shared:informed_consent_verified"/>
				<xs:element ref="clin_shared:icd_o_3_site"/>
				<xs:element ref="clin_shared:icd_o_3_histology"/>
				<xs:element ref="clin_shared:icd_10"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis"/>
						<xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis"/>
						<xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis"/>
				<xs:element ref="clin_shared:tumor_tissue_site"/>
				<xs:element ref="shared:histological_type"/>
				<xs:element ref="presence_of_sarcomatoid_features"/>
				<xs:element ref="percent_tumor_sarcomatoid"/>
				<xs:element ref="clin_shared:laterality"/>
				<xs:element ref="clin_shared:tissue_prospective_collection_indicator"/>
				<xs:element ref="clin_shared:tissue_retrospective_collection_indicator"/>
				<xs:element ref="shared:gender"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_birth"/>
						<xs:element ref="clin_shared:month_of_birth"/>
						<xs:element ref="clin_shared:year_of_birth"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_birth" />
				</xs:choice>
				<xs:element ref="days_from_date_of_initial_pathologic_diagnosis_to_date_of_birth"/>
				<xs:element ref="clin_shared:race_list"/>
				<xs:element ref="clin_shared:ethnicity"/>
				<xs:element ref="shared:other_dx"/>
				<xs:element ref="shared:history_of_neoadjuvant_treatment"/>
				<xs:element ref="clin_shared:primary_lymph_node_presentation_assessment"/>
				<xs:element ref="clin_shared:lymph_node_examined_count"/>
				<xs:element ref="kirc_kirp_shared:number_of_lymphnodes_positive"/>
				<xs:element ref="shared_stage:stage_event"/>
				<xs:element ref="clin_shared:vital_status"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_last_followup"/>
						<xs:element ref="clin_shared:month_of_last_followup"/>
						<xs:element ref="clin_shared:year_of_last_followup"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_last_followup"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_death"/>
						<xs:element ref="clin_shared:month_of_death"/>
						<xs:element ref="clin_shared:year_of_death"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_death"/>
				</xs:choice>
				<xs:element ref="clin_shared:person_neoplasm_cancer_status"/>
				<xs:element ref="clin_shared:lactate_dehydrogenase_result"/>
				<xs:element ref="kirc_kirp_shared:serum_calcium_result"/>
				<xs:element ref="kirc_kirp_shared:hemoglobin_result"/>
				<xs:element ref="kirc_kirp_shared:platelet_qualitative_result"/>
				<xs:element ref="kirc_kirp_shared:white_cell_count_result"/>
				<xs:element ref="kirc_kirp_shared:erythrocyte_sedimentation_rate_result"/>
				<xs:element ref="shared:tobacco_smoking_history"/>
				<xs:element ref="clin_shared:year_of_tobacco_smoking_onset"/>
				<xs:element ref="clin_shared:stopped_smoking_year"/>
				<xs:element ref="clin_shared:number_pack_years_smoked"/>
				<xs:element ref="clin_shared:karnofsky_performance_score"/>
				<xs:element ref="clin_shared:eastern_cancer_oncology_group"/>
				<xs:element ref="clin_shared:performance_status_scale_timing"/>
				<xs:element ref="clin_shared:radiation_therapy"/>
				<xs:element ref="clin_shared:targeted_molecular_therapy"/>
				<xs:element ref="clin_shared:primary_therapy_outcome_success"/>
				<xs:element ref="kich_nte:new_tumor_events" minOccurs="1" maxOccurs="1"/>
				
				<xs:choice>
					<xs:annotation>
					<xs:documentation xml:lang="en">
						Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
						If modifications are made after the form is marked complete, this date should not change.
					</xs:documentation>
					</xs:annotation>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />
                        <xs:element ref="clin_shared:month_of_form_completion" />
                        <xs:element ref="clin_shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_form_completion" />
                </xs:choice>
				
				<xs:element ref="follow_ups"/>
				<xs:element ref="rx:drugs"/>
				<xs:element ref="rad:radiations"/>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="follow_ups">
		<xs:annotation>
			<xs:documentation xml:lang="en">
                We are using namespaces and version numbers to distinguish one version of followup from another.
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="follow_up_v4.4:follow_up" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="presence_of_sarcomatoid_features" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2429787"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="percent_tumor_sarcomatoid" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:number_or_null">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2429786"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="days_from_date_of_initial_pathologic_diagnosis_to_date_of_birth" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:number_or_null">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3008233"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
