tcga.nci/bcr/xml/clinical/skcm/2.7/TCGA_BCR.SKCM_Clinical.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="2.7.15"
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7" 
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
	xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
	xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7" 
	xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" 
	xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7" 
	xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7"  
	xmlns:skcm_shared="http://tcga.nci/bcr/xml/clinical/skcm/shared/2.7" 
	xmlns:skcm_nte="http://tcga.nci/bcr/xml/clinical/skcm/shared/new_tumor_event/2.7/1.0" 
	xmlns:follow_up_v2.0="http://tcga.nci/bcr/xml/clinical/skcm/followup/2.7/2.0" 
	xmlns="http://tcga.nci/bcr/xml/clinical/skcm/2.7"
	targetNamespace="http://tcga.nci/bcr/xml/clinical/skcm/2.7">
	
	<xs:annotation>
		<xs:documentation xml:lang="en">Schema to define the elements of the SKCM study.</xs:documentation>
	</xs:annotation>
	
	<xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/skcm/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/skcm/shared/2.7/TCGA_BCR.SKCM_Clinical_Shared_Datatypes.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/skcm/shared/new_tumor_event/2.7/1.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/skcm/shared/2.7/TCGA_BCR.SKCM_Clinical_NTEs_v1.0.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/skcm/followup/2.7/2.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/skcm/followup/2.7/TCGA_BCR.SKCM_Clinical_FollowUp_v2.0.xsd"/>
	<xs:element name="tcga_bcr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:admin"/>
				<xs:element ref="patient"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="shared:tissue_source_site"/>
				<xs:element ref="shared:patient_id"/>
				<xs:element ref="shared:bcr_patient_barcode"/>
				<xs:element ref="shared:bcr_patient_uuid"/>
				<xs:element ref="clin_shared:informed_consent_verified"/>
				<xs:element ref="clin_shared:icd_o_3_site"/>
				<xs:element ref="clin_shared:icd_o_3_histology"/>
				<xs:element ref="clin_shared:icd_10"/>
				<xs:element ref="clin_shared:tissue_prospective_collection_indicator"/>
				<xs:element ref="clin_shared:tissue_retrospective_collection_indicator"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_birth"/>
						<xs:element ref="clin_shared:month_of_birth"/>
						<xs:element ref="clin_shared:year_of_birth"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_birth"/>
				</xs:choice>
				<xs:element ref="shared:gender"/>
				<xs:element ref="clin_shared:height"/>
				<xs:element ref="clin_shared:weight"/>
				<xs:element ref="clin_shared:race_list"/>
				<xs:element ref="clin_shared:ethnicity"/>
				<xs:element ref="shared:other_dx"/>
				<xs:element ref="shared:history_of_neoadjuvant_treatment"/>
				<xs:element ref="clin_shared:history_of_radiation_primary_site" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:history_of_radiation_metastatic_site" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:history_prior_surgery_indicator" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:history_prior_surgery_type" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:history_prior_surgery_type_other" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:person_neoplasm_cancer_status"/>
				<xs:element ref="clin_shared:vital_status"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_last_followup"/>
						<xs:element ref="clin_shared:month_of_last_followup"/>
						<xs:element ref="clin_shared:year_of_last_followup"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_last_followup"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_death"/>
						<xs:element ref="clin_shared:month_of_death"/>
						<xs:element ref="clin_shared:year_of_death"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_death"/>
				</xs:choice>
				<xs:element ref="clin_shared:patient_progression_status" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:progression_dates" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="shared:histological_type" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="shared:histological_type_other" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="primary_neoplasm_melanoma_dx"/>
				<xs:element ref="sites_of_primary_melanomas"/>
				<xs:element ref="breslow_depth_value"/>
				<xs:element ref="melanoma_clark_level_value"/>
				<xs:element ref="melanoma_ulceration_indicator"/>
				<xs:element ref="malignant_neoplasm_mitotic_count_rate"/>
				<xs:element ref="skcm_shared:radiation_therapy_to_primary" minOccurs="0"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis"/>
						<xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis"/>
						<xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis"/>
				<xs:element ref="shared_stage:stage_event"/>
				<xs:element ref="molecular_markers" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:lactate_dehydrogenase_result"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="skcm_shared:day_of_submitted_specimen_dx"/>
						<xs:element ref="skcm_shared:month_of_submitted_specimen_dx"/>
						<xs:element ref="skcm_shared:year_of_submitted_specimen_dx"/>
					</xs:sequence>
					<xs:element ref="skcm_shared:days_to_submitted_specimen_dx"/>
				</xs:choice>
				<xs:element ref="skcm_shared:submitted_tumor_location" minOccurs="0"/>
				<xs:element ref="clin_shared:tumor_tissue_site" minOccurs="0"/>
				<xs:element ref="skcm_shared:distant_metastasis_anatomic_site"/>
				<xs:element ref="melanoma_origin_skin_anatomic_site"/>
				<xs:element ref="skcm_shared:prior_radiation_therapy" minOccurs="0"/>
				<xs:element ref="skcm_shared:prior_systemic_therapy" minOccurs="0"/>
				<xs:element ref="prior_systemic_therapy_types"/>
				<xs:element ref="interferon_90_day_prior_excision_admin_indicator"/>
				<xs:element ref="clin_shared:radiation_therapy"/>
				<xs:element ref="clin_shared:postoperative_rx_tx"/>
				
				<xs:element ref="skcm_nte:new_tumor_events" minOccurs="1" maxOccurs="1" />
				<xs:choice>
					<xs:annotation>
						<xs:documentation xml:lang="en">
						Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
						If modifications are made after the form is marked complete, this date should not change.
					</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_form_completion"/>
						<xs:element ref="clin_shared:month_of_form_completion"/>
						<xs:element ref="clin_shared:year_of_form_completion"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_form_completion"/>
				</xs:choice>
				<xs:element ref="clin_shared:response" minOccurs="0" maxOccurs="1" />
				<xs:element ref="follow_ups"/>
				<xs:element ref="rx:drugs"/>
				<xs:element ref="rad:radiations"/>
				
				<xs:element ref="clin_shared:unstructured" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="follow_ups">
		<xs:annotation>
			<xs:documentation xml:lang="en">We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="follow_up_v2.0:follow_up" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="primary_neoplasm_melanoma_dx" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3108462"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sites_of_primary_melanomas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="primary_tumor_multiple_present_ind"/>
				<xs:element ref="primary_melanoma_at_diagnosis_count"/>
				<xs:element ref="site" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="primary_tumor_multiple_present_ind" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="64186"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="primary_melanoma_at_diagnosis_count" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:integer_or_null">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3427429"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="site">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="clin_shared:tumor_tissue_site"/>
				<xs:element ref="skcm_shared:primary_anatomic_site_count"/>
				<xs:element ref="clin_shared:tumor_tissue_site_other"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="breslow_depth_value" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2593055"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
					<xs:attribute name="units" type="xs:string" default="mm"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="melanoma_clark_level_value" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="I"/>
					<xs:enumeration value="II"/>
					<xs:enumeration value="III"/>
					<xs:enumeration value="IV"/>
					<xs:enumeration value="V"/>
					<xs:attribute name="cde" type="xs:string" default="2593051"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="melanoma_ulceration_indicator" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3108478"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="malignant_neoplasm_mitotic_count_rate" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:number_or_null">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3119292"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
					<xs:attribute name="units" type="xs:string" default="mitoses per mm2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="melanoma_origin_skin_anatomic_site" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Non-glabrous skin"/>
					<xs:enumeration value="Mucosa"/>
					<xs:enumeration value="Glabrous skin (palms or soles)"/>
					<xs:enumeration value="Nail apparatus"/>
					<xs:attribute name="cde" type="xs:string" default="3108474"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="prior_systemic_therapy_types">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prior_systemic_therapy_type" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="prior_systemic_therapy_type" nillable="true">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Interferon"/>
					<xs:enumeration value="Chemotherapy"/>
					<xs:enumeration value="Immunotherapy/Vaccine"/>
					<xs:enumeration value="Radiation"/>
					<xs:enumeration value="Other"/>
					<xs:attribute name="cde" type="xs:string" default="3119700"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="interferon_90_day_prior_excision_admin_indicator" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3162803"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="molecular_markers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="molecular_marker" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="molecular_marker">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="clin_shared:molecular_abnormality_results" />
				<xs:element ref="clin_shared:molecular_abnormality_results_other" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
