tcga.nci/bcr/xml/clinical/cesc/followup/2.7/TCGA_BCR.CESC_Clinical_FollowUp_v2.0.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.18"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7" 
	xmlns:nte="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.7"
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7" 
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7" 
	xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7"
	xmlns:cesc_shared="http://tcga.nci/bcr/xml/clinical/cesc/shared/2.7" 
	xmlns="http://tcga.nci/bcr/xml/clinical/cesc/followup/2.7/2.0" 
	targetNamespace="http://tcga.nci/bcr/xml/clinical/cesc/followup/2.7/2.0">
	
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_New_Tumor_Event_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/cesc/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/cesc/shared/2.7/TCGA_BCR.CESC_Clinical_Shared_Datatypes.xsd" />
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the TCGA Clinical Data Follow-up Form within the CESC study.</xs:documentation>
    </xs:annotation>
    <xs:element name="follow_up">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="clin_shared:bcr_followup_barcode" />
                <xs:element ref="clin_shared:bcr_followup_uuid" />
				
				<xs:element ref="clin_shared:followup_case_report_form_submission_reason">
					<xs:annotation>
                        <xs:documentation xml:lang="en">
						NEW question that was added on the TCGA Clinical Data Follow-up (starting with v2.0) Form within the CESC study.
						</xs:documentation>
                    </xs:annotation>
				</xs:element>
				<xs:element ref="clin_shared:radiation_therapy" />
				<xs:element ref="clin_shared:targeted_molecular_therapy" minOccurs="0" />
				<xs:element ref="clin_shared:postoperative_rx_tx" minOccurs="0" />
				<xs:element ref="clin_shared:vital_status" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_followup" />
                        <xs:element ref="clin_shared:month_of_last_followup" />
                        <xs:element ref="clin_shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_last_followup" />
                </xs:choice>
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_death" />
                        <xs:element ref="clin_shared:month_of_death" />
                        <xs:element ref="clin_shared:year_of_death" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_death" />
                </xs:choice>
				<xs:element ref="clin_shared:person_neoplasm_cancer_status" />
				<xs:element ref="clin_shared:patient_death_reason" />
				<xs:element ref="cesc_shared:death_cause_text" />
				<xs:element ref="clin_shared:eastern_cancer_oncology_group" />
				<xs:element ref="clin_shared:performance_status_scale_timing" />
                <xs:element ref="clin_shared:assessment_timepoint_category" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_performance_status_assessment" />
                        <xs:element ref="clin_shared:month_of_performance_status_assessment" />
                        <xs:element ref="clin_shared:year_of_performance_status_assessment" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_performance_status_assessment" />
                </xs:choice>
				<xs:element ref="clin_shared:primary_therapy_outcome_success" />
				<xs:element ref="clin_shared:additional_treatment_completion_success_outcome" /> 
				<xs:element ref="cesc_shared:adjuvant_rad_therapy_prior_admin" /> 
				<xs:element ref="cesc_shared:radiation_therapy_not_administered_reason" />  
                <xs:element ref="cesc_shared:radiation_therapy_not_administered_specify" />
				<xs:element ref="cesc_shared:brachytherapy_method_type" />
                <xs:element ref="cesc_shared:brachytherapy_method_other_specify_text" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="cesc_shared:day_of_brachytherapy_begin_occurrence" />
                        <xs:element ref="cesc_shared:month_of_brachytherapy_begin_occurrence" />
                        <xs:element ref="cesc_shared:year_of_brachytherapy_begin_occurrence" />
                    </xs:sequence>
                    <xs:element ref="cesc_shared:days_to_brachytherapy_begin_occurrence" />
                </xs:choice>
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="cesc_shared:day_of_brachytherapy_end_occurrence" />
                        <xs:element ref="cesc_shared:month_of_brachytherapy_end_occurrence" />
                        <xs:element ref="cesc_shared:year_of_brachytherapy_end_occurrence" />
                    </xs:sequence>
                    <xs:element ref="cesc_shared:days_to_brachytherapy_end_occurrence" />
                </xs:choice>
				<xs:element ref="cesc_shared:brachytherapy_first_reference_point_administered_total_dose" />    
				<xs:element ref="cesc_shared:brachytherapy_administered_status" />
				<xs:element ref="cesc_shared:rt_administered_type" /> 
				<xs:element ref="rad:radiation_type_notes" /> 
				<xs:element ref="radiation_supplemental" />
                <xs:element ref="cesc_shared:chemotherapy_regimen_types" />
                <xs:element ref="cesc_shared:other_chemotherapy_agent_administration_specify" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="cesc_shared:day_of_chemotherapy_start" />
                        <xs:element ref="cesc_shared:month_of_chemotherapy_start" />
                        <xs:element ref="cesc_shared:year_of_chemotherapy_start" />
                    </xs:sequence>
                    <xs:element ref="cesc_shared:days_to_chemotherapy_start" />
                </xs:choice>
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="cesc_shared:day_of_chemotherapy_end" />
                        <xs:element ref="cesc_shared:month_of_chemotherapy_end" />
                        <xs:element ref="cesc_shared:year_of_chemotherapy_end" />
                    </xs:sequence>
                    <xs:element ref="cesc_shared:days_to_chemotherapy_end" />
                </xs:choice>
				
				<xs:element ref="cesc_shared:concurrent_chemotherapy_dose" />    
				<xs:element ref="cesc_shared:dose_frequency_text" />    
                <xs:element ref="cesc_shared:agent_total_dose_count" /> 
				
				<xs:element ref="nte:new_tumor_event_after_initial_treatment" /> 
				 <xs:choice>
                    <xs:sequence>
                        <xs:element ref="nte:day_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="nte:month_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="nte:year_of_new_tumor_event_after_initial_treatment" />
                    </xs:sequence>
                    <xs:element ref="nte:days_to_new_tumor_event_after_initial_treatment" />
                </xs:choice>
				<xs:element ref="nte:new_neoplasm_event_type" />
				<xs:element ref="nte:new_neoplasm_event_occurrence_anatomic_site" />
                <xs:element ref="nte:new_neoplasm_occurrence_anatomic_site_text" />
				<xs:element ref="cesc_shared:new_neoplasm_event_post_initial_therapy_diagnosis_method_type" />
                <xs:element ref="cesc_shared:new_neoplasm_event_post_initial_therapy_diagnosis_method_text" minOccurs = "0" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="nte:day_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="nte:month_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="nte:year_of_additional_surgery_metastatic_procedure" />
                    </xs:sequence>
                    
                    <xs:element ref="nte:days_to_additional_surgery_metastatic_procedure" />
                </xs:choice>
				<xs:element ref="nte:residual_disease_post_new_tumor_event_margin_status" />
				<xs:element ref="nte:additional_radiation_therapy" />
				<xs:element ref="nte:additional_pharmaceutical_therapy" />
				
                <xs:choice>
                    <xs:annotation>
                        <xs:documentation>
							Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
							If modifications are made after the form is marked complete, this date should not change.
						</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />
                        <xs:element ref="clin_shared:month_of_form_completion" />
                        <xs:element ref="clin_shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_form_completion" />
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" default="2.0" use="optional"/>
			<xs:attribute name="sequence" type="xs:integer" />
        </xs:complexType>
    </xs:element>
	
	<xs:element name="radiation_supplemental">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="rad:day_of_radiation_therapy_start" />
                        <xs:element ref="rad:month_of_radiation_therapy_start" />
                        <xs:element ref="rad:year_of_radiation_therapy_start" />
                    </xs:sequence>
              
                    <xs:element ref="rad:days_to_radiation_therapy_start" />
                </xs:choice>
            
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="rad:day_of_radiation_therapy_end" />
                        <xs:element ref="rad:month_of_radiation_therapy_end" />
                        <xs:element ref="rad:year_of_radiation_therapy_end" />
                    </xs:sequence>
              
                    <xs:element ref="rad:days_to_radiation_therapy_end" />
                </xs:choice>
            
                <xs:element ref="cesc_shared:rt_pelvis_administered_total_dose" minOccurs = "0"/> 
                <xs:element ref="cesc_shared:external_beam_radiation_therapy_administered_paraaortic_region_lymph_node_dose" /> 
                <xs:element ref="cesc_shared:external_beam_radiation_therapy_administered_status" /> 
                <xs:element ref="clin_shared:targeted_molecular_therapy" minOccurs="0" />
				<!-- TODO: Below postoperative_rx_tx element can be deprecated in the major release -->
				<xs:element ref="clin_shared:postoperative_rx_tx" minOccurs="0" />
				<xs:element ref="cesc_shared:concurrent_chemotherapy_indicator" minOccurs="0" />
				
                <xs:element ref="cesc_shared:chemotherapy_negation_radiation_therapy_concurrent_not_administered_reason" /> 
                <xs:element ref="cesc_shared:chemotherapy_negation_radiation_therapy_concurrent_administered_text" /> 
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	
</xs:schema>
