tcga.nci/bcr/xml/clinical/ucec/2.7/TCGA_BCR.UCEC_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.4" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
  xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
  xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7"
  xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7"
  xmlns:ucec_ucs_shared="http://tcga.nci/bcr/xml/clinical/shared/ucec_ucs/2.7"
  xmlns:ucec_nte="http://tcga.nci/bcr/xml/clinical/ucec/shared/new_tumor_event/2.7/1.0"
  xmlns:follow_up_v1.7="http://tcga.nci/bcr/xml/clinical/ucec/followup/2.7/1.7"
  xmlns:follow_up_v2.0="http://tcga.nci/bcr/xml/clinical/ucec/followup/2.7/2.0"
  xmlns:follow_up_v4.0="http://tcga.nci/bcr/xml/clinical/ucec/followup/2.7/4.0"
  xmlns="http://tcga.nci/bcr/xml/clinical/ucec/2.7"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/ucec/2.7">
      
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the UCEC study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/ucec/shared/new_tumor_event/2.7/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/ucec/shared/2.7/TCGA_BCR.UCEC_Clinical_NTEs_v1.0.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/ucec/followup/2.7/1.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/ucec/followup/2.7/TCGA_BCR.UCEC_Clinical_FollowUp_v1.7.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/ucec/followup/2.7/2.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/ucec/followup/2.7/TCGA_BCR.UCEC_Clinical_FollowUp_v2.0.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/ucec/followup/2.7/4.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/ucec/followup/2.7/TCGA_BCR.UCEC_Clinical_FollowUp_v4.0.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/ucec_ucs/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_UCEC_UCS_Elements.xsd"/>

    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
        
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
				<xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:bcr_patient_uuid" />
				<xs:element ref="clin_shared:informed_consent_verified" />  
                <xs:element ref="clin_shared:icd_o_3_site" />
                <xs:element ref="clin_shared:icd_o_3_histology" />
                <xs:element ref="clin_shared:icd_10" />
				
				<xs:element ref="clin_shared:tissue_prospective_collection_indicator" />
				<xs:element ref="clin_shared:tissue_retrospective_collection_indicator" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_birth" />
                        <xs:element ref="clin_shared:month_of_birth" /> 
                        <xs:element ref="clin_shared:year_of_birth" /> 
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_birth" /> 
                </xs:choice>
				<xs:element ref="shared:gender" />
				<xs:element ref="clin_shared:menopause_status" />
				<xs:element ref="clin_shared:height" />
                <xs:element ref="clin_shared:weight" />
                <xs:element ref="clin_shared:race_list"/>
				<xs:element ref="clin_shared:ethnicity" />
				<xs:element ref="shared:other_dx" />
				<xs:element ref="shared:history_of_neoadjuvant_treatment" />
				<xs:element ref="clin_shared:vital_status">
					<xs:annotation>
                        <xs:documentation xml:lang="en">The vital_status question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:annotation>
                        <xs:documentation xml:lang="en">The date_of_last_followup question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_followup" />
                        <xs:element ref="clin_shared:month_of_last_followup" /> 
                        <xs:element ref="clin_shared:year_of_last_followup" /> 
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_last_followup" /> 
                </xs:choice>
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_known_alive" />
                        <xs:element ref="clin_shared:month_of_last_known_alive" /> 
                        <xs:element ref="clin_shared:year_of_last_known_alive" /> 
                    </xs:sequence>
          
                    <xs:element ref="clin_shared:days_to_last_known_alive" /> 
                </xs:choice>
				<xs:choice>
					<xs:annotation>
                        <xs:documentation xml:lang="en">The date_of_death question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_death" />
                        <xs:element ref="clin_shared:month_of_death" /> 
                        <xs:element ref="clin_shared:year_of_death" /> 
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_death" /> 
                </xs:choice>
				<xs:element ref="clin_shared:person_neoplasm_cancer_status">
					<xs:annotation>
                        <xs:documentation xml:lang="en">The person_neoplasm_cancer_status question is asked in both the initial enrollment form and the follow-up form(s).</xs:documentation>
                    </xs:annotation>
				</xs:element>
				
				<xs:element ref="clin_shared:tumor_tissue_site" />
				<xs:element ref="clin_shared:tumor_tissue_site_other">
					<xs:annotation><xs:documentation>
						Data for the tumor_tissue_site_other element is *only* asked on the 
						TCGA Clinical Data Form during initial enrollment within the UCEC study, *and only* when 
						an answer of 'Other (please specify)' is provided for tumor_tissue_site. 
					</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element ref="shared:histological_type"/>
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                    <xs:sequence>
                        <xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis" />  
                        <xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis" />  
                    </xs:sequence>
                </xs:choice>
                <xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis" />
				<xs:element ref="clin_shared:initial_pathologic_diagnosis_method" />
                <xs:element ref="clin_shared:init_pathology_dx_method_other">
					<xs:annotation><xs:documentation xml:lang="en">
						Data for the clin_shared:init_pathology_dx_method_other element is *only* asked on the 
						TCGA Clinical Data Form during initial enrollment within the UCEC study, *and only* when 
						an answer of 'Other method (please specify)' is provided for clin_shared:initial_pathologic_diagnosis_method. 
					</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element ref="ucec_ucs_shared:surgical_approach" />
				<xs:element ref="ucec_ucs_shared:peritoneal_wash" />
				<xs:element ref="ucec_ucs_shared:pct_tumor_invasion" />
				
				<xs:element ref="shared_stage:stage_event" />
				
				<xs:element ref="shared:neoplasm_histologic_grade" />
                <xs:element ref="clin_shared:residual_tumor" />
				<xs:element ref="ucec_ucs_shared:total_pelv_lnr" />
				<xs:element ref="ucec_ucs_shared:pln_pos_light_micro" />
				<xs:element ref="ucec_ucs_shared:pln_pos_ihc" />
				<xs:element ref="ucec_ucs_shared:total_pelv_lnp" />
                <xs:element ref="ucec_ucs_shared:total_aor_lnr" />
				<xs:element ref="ucec_ucs_shared:aln_pos_light_micro" />
				<xs:element ref="ucec_ucs_shared:aln_pos_ihc" />
				<xs:element ref="ucec_ucs_shared:total_aor-lnp" />
				
				<xs:element ref="clin_shared:postoperative_rx_tx" />
				<xs:element ref="clin_shared:radiation_therapy" />
				<xs:element ref="ucec_ucs_shared:colorectal_cancer" />
				<xs:element ref="ucec_ucs_shared:diabetes" />
				<xs:element ref="ucec_ucs_shared:horm_ther" />
				<xs:element ref="ucec_ucs_shared:hypertension" />
				<xs:element ref="clin_shared:birth_control_pill_history_usage_category" />
				<xs:element ref="ucec_ucs_shared:pregnancies" />
				<xs:element ref="clin_shared:primary_therapy_outcome_success"/>
				<xs:element ref="ucec_ucs_shared:prior_tamoxifen_administered_usage_category" />
				
				<xs:element ref="ucec_nte:new_tumor_events" minOccurs="1" maxOccurs="1" />
				
				<xs:choice>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
							If modifications are made after the form is marked complete, this date should not change.
						</xs:documentation>
					</xs:annotation>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />  
                        <xs:element ref="clin_shared:month_of_form_completion" />  
                        <xs:element ref="clin_shared:year_of_form_completion" />  
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_form_completion" />   
                </xs:choice> 
	
				<xs:element ref="follow_ups" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
	<xs:element name="follow_ups">
		<xs:annotation>
			<xs:documentation xml:lang="en">We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="follow_up_v1.7:follow_up" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="follow_up_v2.0:follow_up" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="follow_up_v4.0:follow_up" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
