tcga.nci/bcr/xml/clinical/paad/2.7/TCGA_BCR.PAAD_Clinical.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema elementFormDefault="qualified" version="2.7.13"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7" 
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
	xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
	xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7" 
	xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
	xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7" 
	xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" 
	xmlns:follow_up_v4.4="http://tcga.nci/bcr/xml/clinical/paad/followup/2.7/4.4" 
	xmlns:paad_nte="http://tcga.nci/bcr/xml/clinical/paad/shared/new_tumor_event/2.7/1.0"
	xmlns="http://tcga.nci/bcr/xml/clinical/paad/2.7" 
	targetNamespace="http://tcga.nci/bcr/xml/clinical/paad/2.7">
	
	<xs:annotation>
		<xs:documentation xml:lang="en">Schema to define the elements of the paad study.</xs:documentation>
	</xs:annotation>
	
	<xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/paad/shared/new_tumor_event/2.7/1.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/paad/shared/2.7/TCGA_BCR.PAAD_Clinical_NTEs_v1.0.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/paad/followup/2.7/4.4" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/paad/followup/2.7/TCGA_BCR.PAAD_Clinical_FollowUp_v4.4.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd"/>
	
	<xs:element name="tcga_bcr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:admin"/>
				<xs:element ref="patient"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="shared:tissue_source_site"/>
				<xs:element ref="shared:patient_id"/>
				<xs:element ref="shared:bcr_patient_barcode"/>
				<xs:element ref="shared:bcr_patient_uuid"/>
				<xs:element ref="clin_shared:informed_consent_verified"/>
				<xs:element ref="clin_shared:icd_o_3_site"/>
				<xs:element ref="clin_shared:icd_o_3_histology"/>
				<xs:element ref="clin_shared:icd_10"/>
				<xs:element ref="clin_shared:tumor_tissue_site"/>
				<xs:element ref="shared:adenocarcinoma_invasion"/>
				<xs:element ref="shared:histological_type"/>
				<xs:element ref="shared:histological_type_other"/>
				<xs:element ref="tumor_type" maxOccurs="unbounded"/>
				<xs:element ref="clin_shared:anatomic_neoplasm_subdivision"/>
				<xs:element ref="clin_shared:anatomic_neoplasm_subdivision_other"/>
				<xs:element ref="clin_shared:tissue_prospective_collection_indicator"/>
				<xs:element ref="clin_shared:tissue_retrospective_collection_indicator"/>
				<xs:element ref="shared:gender"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_birth"/>
						<xs:element ref="clin_shared:month_of_birth"/>
						<xs:element ref="clin_shared:year_of_birth"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_birth" />
				</xs:choice>
				<xs:element ref="clin_shared:race_list"/>
				<xs:element ref="clin_shared:ethnicity"/>
				<xs:element ref="shared:other_dx"/>
				<xs:element ref="shared:history_of_neoadjuvant_treatment"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis"/>
						<xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis"/>
					</xs:sequence>
					<xs:sequence>
                        <xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis" />
					</xs:sequence>
				</xs:choice>
				<xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis"/>
				<xs:element ref="clin_shared:initial_pathologic_diagnosis_method"/>
				<xs:element ref="clin_shared:init_pathology_dx_method_other"/>
				<xs:element ref="surgery_performed_type"/>
				<xs:element ref="clin_shared:primary_lymph_node_presentation_assessment"/>
				<xs:element ref="clin_shared:lymph_node_examined_count"/>
				<xs:element ref="clin_shared:number_of_lymphnodes_positive_by_he"/>
				<xs:element ref="clin_shared:number_of_lymphnodes_positive_by_ihc"/>
				<xs:element ref="shared:neoplasm_histologic_grade"/>
				<xs:element ref="histologic_grading_tier_category"/>
				<xs:element ref="shared:maximum_tumor_dimension"/>
				<xs:element ref="clin_shared:residual_tumor"/>
				<xs:element ref="shared_stage:stage_event"/>
				<xs:element ref="clin_shared:vital_status"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_last_followup"/>
						<xs:element ref="clin_shared:month_of_last_followup"/>
						<xs:element ref="clin_shared:year_of_last_followup"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_last_followup"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_death"/>
						<xs:element ref="clin_shared:month_of_death"/>
						<xs:element ref="clin_shared:year_of_death"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_death"/>
				</xs:choice>
				<xs:element ref="clin_shared:person_neoplasm_cancer_status"/>
				<xs:element ref="clin_shared:patient_death_reason"/>
				<xs:element ref="clin_shared:source_of_patient_death_reason"/>
				<xs:element ref="shared:tobacco_smoking_history"/>
				<xs:element ref="clin_shared:year_of_tobacco_smoking_onset"/>
				<xs:element ref="clin_shared:stopped_smoking_year"/>
				<xs:element ref="clin_shared:number_pack_years_smoked"/>
				<xs:element ref="clin_shared:alcohol_history_documented"/>
				<xs:element ref="alcoholic_exposure_category"/>
				<xs:element ref="clin_shared:frequency_of_alcohol_consumption"/>
				<xs:element ref="clin_shared:amount_of_alcohol_consumption_per_day"/>
				<xs:element ref="history_of_diabetes"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="month_of_diabetes_onset"/>
						<xs:element ref="day_of_diabetes_onset"/>
						<xs:element ref="year_of_diabetes_onset"/>
					</xs:sequence>
					<xs:element ref="days_to_diabetes_onset"/>
				</xs:choice>
				<xs:element ref="history_of_chronic_pancreatitis"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="month_of_pancreatitis_onset"/>
						<xs:element ref="day_of_pancreatitis_onset"/>
						<xs:element ref="year_of_pancreatitis_onset"/>
					</xs:sequence>
					<xs:element ref="days_to_pancreatitis_onset"/>
				</xs:choice>
				<xs:element ref="family_history_of_cancer"/>
				<xs:element ref="relative_cancer_types"/>
				<xs:element ref="clin_shared:radiation_therapy" />
				<xs:element ref="clin_shared:targeted_molecular_therapy" minOccurs="0"/>
				<xs:element ref="clin_shared:postoperative_rx_tx" minOccurs="0" />
				<xs:element ref="molecular_markers" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:history_of_radiation_primary_site" minOccurs="0" />
				<xs:element ref="clin_shared:history_of_radiation_metastatic_site" minOccurs="0" />
				<xs:element ref="clin_shared:history_prior_surgery_indicator" minOccurs="0" />
				<xs:element ref="clin_shared:history_prior_surgery_type" minOccurs="0" />
				<xs:element ref="clin_shared:history_prior_surgery_type_other" minOccurs="0" />
				<xs:element ref="clin_shared:patient_progression_status" minOccurs="0" />
				<xs:element ref="clin_shared:progression_dates" minOccurs="0" />
				<xs:element ref="clin_shared:response" minOccurs="0" maxOccurs="1" />
				
				<xs:element ref="clin_shared:primary_therapy_outcome_success" />
				<xs:element ref="paad_nte:new_tumor_events" minOccurs="1" maxOccurs="1" />
				
				<xs:choice>
					<xs:annotation>
					<xs:documentation xml:lang="en">
						Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
						If modifications are made after the form is marked complete, this date should not change.
					</xs:documentation>
					</xs:annotation>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />
                        <xs:element ref="clin_shared:month_of_form_completion" />
                        <xs:element ref="clin_shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_form_completion" />
                </xs:choice>
				
				<xs:element ref="clin_shared:unstructured" minOccurs="0" maxOccurs="1" />
				<xs:element ref="follow_ups"/>
				<xs:element ref="rx:drugs"/>
				<xs:element ref="rad:radiations"/>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="molecular_markers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="molecular_marker" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>			
	</xs:element>
	
	<xs:element name="molecular_marker">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="clin_shared:molecular_abnormality_results" />
				<xs:element ref="clin_shared:molecular_abnormality_results_other" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="follow_ups">
		<xs:annotation>
			<xs:documentation xml:lang="en">
                We are using namespaces and version numbers to distinguish one version of followup from another.
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="follow_up_v4.4:follow_up" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="relative_cancer_types">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="relative_cancer_type" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="relative_cancer_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Breast"/>
					<xs:enumeration value="Lung Adenocarcinoma"/>
					<xs:enumeration value="Lung Squamous Cell Carcinoma"/>
					<xs:enumeration value="Melanoma"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Pancreas"/>
					<xs:attribute name="cde" type="xs:string" default="3457764"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="family_history_of_cancer">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="2436860"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.3"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="days_to_pancreatitis_onset">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3457771"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="year_of_pancreatitis_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_year">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457763"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="day_of_pancreatitis_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_day">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457762"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="month_of_pancreatitis_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_month">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457761"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="history_of_chronic_pancreatitis" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457760"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="days_to_diabetes_onset">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:attribute name="cde" type="xs:string" default="3457768"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="year_of_diabetes_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_year">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457739"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="day_of_diabetes_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_day">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457738"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="month_of_diabetes_onset" default="">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="utility:generic_month">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3457737"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="history_of_diabetes" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="utility:yes_or_no">
					<xs:attributeGroup ref="utility:common_ext_attribute_group"/>
					<xs:attribute name="cde" type="xs:string" default="3197322"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="alcoholic_exposure_category" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="None"/>
					<xs:enumeration value="Occasional Drinker"/>
					<xs:enumeration value="Social Drinker"/>
					<xs:enumeration value="Weekly Drinker"/>
					<xs:enumeration value="Daily Drinker"/>
					<xs:enumeration value="Not Evaluated"/>
					<xs:enumeration value="Unknown"/>
					<xs:attribute name="cde" type="xs:string" default="3457767"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="tumor_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Primary"/>
					<xs:attribute name="cde" type="xs:string" default="3288124"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="surgery_performed_type" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Whipple"/>
					<xs:enumeration value="Total Pancreatectomy"/>
					<xs:enumeration value="Distal Pancreatectomy"/>
					<xs:enumeration value="Other Method (please specify)"/>
					<xs:attribute name="cde" type="xs:string" default="3121809"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="histologic_grading_tier_category" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="utility:clinical_res_attributes">
					<xs:enumeration value=""/>
					<xs:enumeration value="Four Tier"/>
					<xs:enumeration value="Three Tier"/>
					<xs:attribute name="cde" type="xs:string" default="3385981"/>
					<xs:attribute name="xsd_ver" type="xs:string" default="2.5"/>
					<xs:attribute name="tier" type="xs:string" default="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
