tcga.nci/bcr/xml/clinical/uvm/2.7/TCGA_BCR.UVM_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.7" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
  xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
  xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7"
  xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7"
  xmlns:uvm_shared="http://tcga.nci/bcr/xml/clinical/uvm/shared/2.7" 
  xmlns:uvm_nte="http://tcga.nci/bcr/xml/clinical/uvm/shared/new_tumor_event/2.7/1.0" 
  xmlns:shared_nte="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.7"
  xmlns:follow_up_v4.0="http://tcga.nci/bcr/xml/clinical/uvm/followup/2.7/4.0"
  xmlns="http://tcga.nci/bcr/xml/clinical/uvm/2.7"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/uvm/2.7">
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the Uveal Melanoma study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/uvm/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/uvm/shared/2.7/TCGA_BCR.UVM_Clinical_Shared_Datatypes.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/uvm/shared/new_tumor_event/2.7/1.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/uvm/shared/2.7/TCGA_BCR.UVM_Clinical_NTEs_v1.0.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/uvm/followup/2.7/4.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/uvm/followup/2.7/TCGA_BCR.UVM_Clinical_FollowUp_v4.0.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_New_Tumor_Event_Elements.xsd" />

    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="admin:additional_studies"/>
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="clin_shared:informed_consent_verified" />
                <xs:element ref="clin_shared:icd_o_3_site" />
                <xs:element ref="clin_shared:icd_o_3_histology" />
                <xs:element ref="clin_shared:icd_10" />
                
                <xs:element ref="clin_shared:tissue_prospective_collection_indicator" />
                <xs:element ref="clin_shared:tissue_retrospective_collection_indicator" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_birth" />
                        <xs:element ref="clin_shared:month_of_birth" />
                        <xs:element ref="clin_shared:year_of_birth" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_birth" />
                </xs:choice>
                
                <xs:element ref="shared:gender" />
                <xs:element ref="clin_shared:height" />
                <xs:element ref="clin_shared:weight" />
                <xs:element ref="clin_shared:race_list"/>
                <xs:element ref="uvm_shared:eye_color" />
                <xs:element ref="clin_shared:ethnicity" />
                <xs:element ref="shared:other_dx" />
                <xs:element ref="shared:history_of_neoadjuvant_treatment" />
				<xs:element ref="clin_shared:person_neoplasm_cancer_status" />
                <xs:element ref="clin_shared:vital_status" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_followup" />
                        <xs:element ref="clin_shared:month_of_last_followup" />
                        <xs:element ref="clin_shared:year_of_last_followup" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_last_followup" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_death" />
                        <xs:element ref="clin_shared:month_of_death" />
                        <xs:element ref="clin_shared:year_of_death" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_death" />
                </xs:choice>
                <xs:element ref="clin_shared:patient_death_reason" />
                <xs:element ref="clin_shared:death_cause_text" />
				
				<xs:element ref="shared_stage:stage_event" />
				
				<xs:element ref="primary_pathology" />
			
				<xs:element ref="uvm_nte:new_tumor_events" minOccurs="1" maxOccurs="1" />
				
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />
                        <xs:element ref="clin_shared:month_of_form_completion" />
                        <xs:element ref="clin_shared:year_of_form_completion" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_form_completion" />
                </xs:choice>
				
                <xs:element ref="follow_ups" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    

    <xs:element name="primary_pathology" nillable="true">
		<xs:complexType>
			<xs:sequence >
				<xs:element ref="shared:histological_type"/>
				
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis" /> 
						<xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis" /> 
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis" />
						<xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis" />
					</xs:sequence>
				</xs:choice>
				<xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis" />
				
 				<xs:element ref="clin_shared:tumor_tissue_site_list" />
 				<xs:element ref="clin_shared:tumor_morphology_list" />
 				<xs:element ref="clin_shared:cytogenetic_abnormality_list" />
 				<xs:element ref="uvm_shared:gene_expression_profile_list" />
 				<xs:element ref="uvm_shared:pet_ct_standardized_values" />
 				<xs:element ref="clin_shared:mitotic_count" />
 				<xs:element ref="uvm_shared:extravascular_matrix_patterns" />
 				<xs:element ref="uvm_shared:microvascular_density_mvd" />
 				<xs:element ref="uvm_shared:tumor_infiltrating_lymphocytes" />
 				<xs:element ref="uvm_shared:tumor_infiltrating_macrophages" />
 				<xs:element ref="uvm_shared:tumor_basal_diameter" />
 				<xs:element ref="uvm_shared:tumor_basal_diameter_mx" />
 				<xs:element ref="uvm_shared:tumor_thickness" />
 				<xs:element ref="uvm_shared:tumor_thickness_measurement" />
 				<xs:element ref="uvm_shared:extrascleral_extension" />
 				<xs:element ref="uvm_shared:extranocular_nodule_size" />
 				<xs:element ref="uvm_shared:tumor_shape_pathologic_clinical" />
 				<xs:element ref="clin_shared:initial_pathologic_diagnosis_method" />
 				<xs:element ref="clin_shared:init_pathology_dx_method_other" />

 				<xs:element ref="clin_shared:metastatic_site_list"/>
 				<xs:element ref="clin_shared:other_metastatic_site" />

 				<xs:element ref="clin_shared:radiation_therapy" />
 				<xs:element ref="clin_shared:postoperative_rx_tx" />

			</xs:sequence >		
        </xs:complexType>
	</xs:element>
	
	<xs:element name="follow_ups">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                We are using namespaces and version numbers to distinguish one version of followup from another.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="follow_up_v4.0:follow_up" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
</xs:schema>
