tcga.nci/bcr/xml/clinical/meso/2.7/TCGA_BCR.MESO_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.7" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
  xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
  xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7"
  xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7"
  xmlns:meso_shared="http://tcga.nci/bcr/xml/clinical/meso/shared/2.7" 
  xmlns:meso_nte="http://tcga.nci/bcr/xml/clinical/meso/shared/new_tumor_event/2.7/1.0" 
  xmlns:follow_up_v4.0="http://tcga.nci/bcr/xml/clinical/meso/followup/2.7/4.0"
  xmlns="http://tcga.nci/bcr/xml/clinical/meso/2.7"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/meso/2.7">
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the MESO study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/meso/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/meso/shared/2.7/TCGA_BCR.MESO_Clinical_Shared_Datatypes.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/meso/shared/new_tumor_event/2.7/1.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/meso/shared/2.7/TCGA_BCR.MESO_Clinical_NTEs_v1.0.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/meso/followup/2.7/4.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/meso/followup/2.7/TCGA_BCR.MESO_Clinical_FollowUp_v4.0.xsd" />
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="clin_shared:informed_consent_verified" />
                <xs:element ref="clin_shared:icd_o_3_site" />
                <xs:element ref="clin_shared:icd_o_3_histology" />
                <xs:element ref="clin_shared:icd_10" />
                
                <xs:element ref="clin_shared:tissue_prospective_collection_indicator" />
                <xs:element ref="clin_shared:tissue_retrospective_collection_indicator" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_birth" />
                        <xs:element ref="clin_shared:month_of_birth" />
                        <xs:element ref="clin_shared:year_of_birth" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_birth" />
                </xs:choice>
                
                <xs:element ref="shared:gender" />
                <xs:element ref="clin_shared:race_list"/>
                <xs:element ref="clin_shared:ethnicity" />
                <xs:element ref="shared:other_dx" />
                <xs:element ref="shared:history_of_neoadjuvant_treatment" />
				<xs:element ref="shared:pleurodesis_performed" />
				<xs:element ref="meso_shared:pleurodesis_performed_90_days" />
				<xs:element ref="clin_shared:person_neoplasm_cancer_status" />
                <xs:element ref="clin_shared:vital_status" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_followup" />
                        <xs:element ref="clin_shared:month_of_last_followup" />
                        <xs:element ref="clin_shared:year_of_last_followup" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_last_followup" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_death" />
                        <xs:element ref="clin_shared:month_of_death" />
                        <xs:element ref="clin_shared:year_of_death" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_death" />
                </xs:choice>
                
				<xs:element ref="meso_shared:history_asbestos_exposure" />
				<xs:element ref="meso_shared:asbestos_exposure_type" />
				<xs:element ref="meso_shared:asbestos_exposure_source" />
				<xs:element ref="meso_shared:asbestos_exposure_age" />
				<xs:element ref="meso_shared:asbestos_exposure_years" />
				<xs:element ref="meso_shared:asbestos_exposure_age_last" />
				<xs:element ref="meso_shared:primary_occupation" />
				<xs:element ref="meso_shared:primary_occupation_other" />
				<xs:element ref="clin_shared:person_occupation_years_number" />
				<xs:element ref="blood_relative_cancer_history_list" />
				<xs:element ref="clin_shared:karnofsky_performance_score" />
				<xs:element ref="clin_shared:eastern_cancer_oncology_group" />				
				<xs:element ref="clin_shared:performance_status_scale_timing" />
				<xs:element ref="clin_shared:radiation_therapy" />
				<xs:element ref="clin_shared:postoperative_rx_tx" />
				
				<xs:element ref="shared_stage:stage_event" />
				
				<xs:element ref="primary_pathology" />
			
				<xs:element ref="meso_nte:new_tumor_events" minOccurs="1" maxOccurs="1" />
				
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />
                        <xs:element ref="clin_shared:month_of_form_completion" />
                        <xs:element ref="clin_shared:year_of_form_completion" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_form_completion" />
                </xs:choice>
				
                <xs:element ref="follow_ups" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	
	<xs:element name="primary_pathology" nillable="true">
		<xs:complexType>
			<xs:sequence >
				<xs:element ref="clin_shared:tumor_tissue_site" />
				<xs:element ref="clin_shared:laterality" />
				<xs:element ref="shared:histological_type"/>
				
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis" /> 
						<xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis" /> 
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis" />
						<xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis" />
					</xs:sequence>
				</xs:choice>
				<xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis" />
				
				<xs:element ref="clin_shared:residual_tumor" />
				
				<xs:element ref="meso_shared:serum_mesothelin_prior_tx" />
				<xs:element ref="meso_shared:serum_mesothelin_lower_limit" />
				<xs:element ref="meso_shared:serum_mesothelin_upper_limit" />
				<xs:element ref="meso_shared:creatinine_prior_tx" />
				<xs:element ref="meso_shared:creatinine_norm_range_lower" />
				<xs:element ref="meso_shared:creatinine_norm_range_upper" />
				<xs:element ref="meso_shared:suv_of_pleura_max" />
				<xs:element ref="meso_shared:mesothelioma_detection_method" />
			</xs:sequence >		
        </xs:complexType>
	</xs:element>
	
	
	<xs:element name="follow_ups">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                We are using namespaces and version numbers to distinguish one version of followup from another.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="follow_up_v4.0:follow_up" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<xs:element name="blood_relative_cancer_history_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="blood_relative_cancer_history" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="blood_relative_cancer_history">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="meso_shared:family_history_cancer_type" />
				<xs:element ref="meso_shared:family_history_cancer_type_other" />
				<xs:element ref="clin_shared:family_member_relationship_type" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>