tcga.nci/bcr/xml/clinical/lihc/2.7/TCGA_BCR.LIHC_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.16" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
  xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
  xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7"
  xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7"
  xmlns:follow_up_v4.0="http://tcga.nci/bcr/xml/clinical/lihc/followup/2.7/4.0"
  xmlns:lihc_nte="http://tcga.nci/bcr/xml/clinical/lihc/shared/new_tumor_event/2.7/1.0"
  xmlns:chol_lihc_shared="http://tcga.nci/bcr/xml/clinical/shared/chol_lihc/2.7"
  xmlns:ablation="http://tcga.nci/bcr/xml/clinical/ablation/2.7"
  xmlns="http://tcga.nci/bcr/xml/clinical/lihc/2.7"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/lihc/2.7">
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the LIHC study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/lihc/followup/2.7/4.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/lihc/followup/2.7/TCGA_BCR.LIHC_Clinical_FollowUp_v4.0.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/lihc/shared/new_tumor_event/2.7/1.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/lihc/shared/2.7/TCGA_BCR.LIHC_Clinical_NTEs_v1.0.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/chol_lihc/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_CHOL_LIHC_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/ablation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/ablation/2.7/TCGA_BCR.Ablation.xsd" />
 
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="clin_shared:informed_consent_verified" />
                <xs:element ref="clin_shared:icd_o_3_site" />
                <xs:element ref="clin_shared:icd_o_3_histology" />
                <xs:element ref="clin_shared:icd_10" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />
                        <xs:element ref="clin_shared:month_of_form_completion" />
                        <xs:element ref="clin_shared:year_of_form_completion" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_form_completion" />
                </xs:choice>
                
                <xs:element ref="clin_shared:tissue_prospective_collection_indicator" />
                <xs:element ref="clin_shared:tissue_retrospective_collection_indicator" />                

                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_birth" />
                        <xs:element ref="clin_shared:month_of_birth" />
                        <xs:element ref="clin_shared:year_of_birth" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_birth" />
                </xs:choice>
                
                <xs:element ref="shared:gender" />
                <xs:element ref="clin_shared:height" />
                <xs:element ref="clin_shared:weight" />
                <xs:element ref="clin_shared:race_list"/>
                <xs:element ref="clin_shared:ethnicity" />
                <xs:element ref="shared:other_dx" />
                <xs:element ref="shared:history_of_neoadjuvant_treatment" />
                <xs:element ref="clin_shared:vital_status" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_followup" />
                        <xs:element ref="clin_shared:month_of_last_followup" />
                        <xs:element ref="clin_shared:year_of_last_followup" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_last_followup" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_known_alive" />
                        <xs:element ref="clin_shared:month_of_last_known_alive" />
                        <xs:element ref="clin_shared:year_of_last_known_alive" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_last_known_alive" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_death" />
                        <xs:element ref="clin_shared:month_of_death" />
                        <xs:element ref="clin_shared:year_of_death" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_death" />
                </xs:choice>
                
                <xs:element ref="clin_shared:person_neoplasm_cancer_status" />
                <xs:element ref="clin_shared:relative_family_cancer_history" />
                <xs:element ref="clin_shared:cancer_first_degree_relative" />
                <xs:element ref="history_hepato_carcinoma_risk_factors" />
				
				<xs:element ref="clin_shared:radiation_therapy" />
				<xs:element ref="clin_shared:postoperative_rx_tx" />
				<xs:element ref="clin_shared:post_op_ablation_embolization_tx" />
				
                <xs:element ref="clin_shared:tumor_tissue_site" />
                <xs:element ref="shared:histological_type"/>
                <xs:element ref="chol_lihc_shared:specimen_collection_method_name" />
                <xs:element ref="clin_shared:history_prior_surgery_type_other" />
                <xs:element ref="shared:neoplasm_histologic_grade" />
                <xs:element ref="clin_shared:residual_tumor" />
				
				<xs:element ref="shared_stage:stage_event" />
				
                <xs:element ref="chol_lihc_shared:vascular_tumor_cell_type" />
                <xs:element ref="chol_lihc_shared:child_pugh_classification_grade" />
                <xs:element ref="chol_lihc_shared:fetoprotein_outcome_value" />
                <xs:element ref="chol_lihc_shared:fetoprotein_outcome_lower_limit" />
                <xs:element ref="chol_lihc_shared:fetoprotein_outcome_upper_limit" />
                <xs:element ref="clin_shared:platelet_result_count" />
                <xs:element ref="chol_lihc_shared:platelet_result_lower_limit" />
                <xs:element ref="chol_lihc_shared:platelet_result_upper_limit" />
                <xs:element ref="chol_lihc_shared:prothrombin_time_result_value" />
                <xs:element ref="chol_lihc_shared:inter_norm_ratio_lower_limit" />
                <xs:element ref="chol_lihc_shared:intern_norm_ratio_upper_limit" />
                <xs:element ref="chol_lihc_shared:albumin_result_specified_value" />
                <xs:element ref="chol_lihc_shared:albumin_result_lower_limit" />
                <xs:element ref="chol_lihc_shared:albumin_result_upper_limit" />
                <xs:element ref="chol_lihc_shared:bilirubin_upper_limit" />
                <xs:element ref="chol_lihc_shared:bilirubin_lower_limit" />
                <xs:element ref="chol_lihc_shared:total_bilirubin_upper_limit" />
                <xs:element ref="chol_lihc_shared:creatinine_value_in_mg_dl" />
                <xs:element ref="chol_lihc_shared:creatinine_lower_level" />
                <xs:element ref="chol_lihc_shared:creatinine_upper_limit" />
                <xs:element ref="chol_lihc_shared:fibrosis_ishak_score" />
                <xs:element ref="adjacent_hepatic_tissue_inflammation_extent_type" />
                <xs:element ref="clin_shared:eastern_cancer_oncology_group" />
                
				<xs:element ref="clin_shared:viral_hepatitis_serologies" minOccurs="0" maxOccurs="1" />
				
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                
                    <xs:sequence>
                        <xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>
                
                <xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis" />
                
				<xs:element ref="lihc_nte:new_tumor_events" minOccurs="1" maxOccurs="1" /> 
				
                <xs:element ref="follow_ups" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
                <xs:element ref="ablation:ablations" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	    <xs:element name="follow_ups">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                We are using namespaces and version numbers to distinguish one version of followup from another.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="follow_up_v4.0:follow_up" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	<xs:element name="history_hepato_carcinoma_risk_factors">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="chol_lihc_shared:hist_hepato_carc_fact" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="chol_lihc_shared:hist_hepato_carcinoma_risk" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="adjacent_hepatic_tissue_inflammation_extent_type" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Mild" />
                    <xs:enumeration value="None" />
                    <xs:enumeration value="Severe" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="3173974" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
   
</xs:schema>