tcga.nci/bcr/xml/clinical/read/2.7/TCGA_BCR.READ_Clinical.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7" 
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
	xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
	xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7" 
	xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
	xmlns:coad_read_shared="http://tcga.nci/bcr/xml/clinical/shared/coad_read/2.7" 
	xmlns:read_nte="http://tcga.nci/bcr/xml/clinical/read/shared/new_tumor_event/2.7/1.0" 
	xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7" 
	xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" 
	xmlns:follow_up_v1.0="http://tcga.nci/bcr/xml/clinical/read/followup/2.7/1.0"
	xmlns:follow_up_v4.0="http://tcga.nci/bcr/xml/clinical/read/followup/2.7/4.0"
	xmlns="http://tcga.nci/bcr/xml/clinical/read/2.7"
	targetNamespace="http://tcga.nci/bcr/xml/clinical/read/2.7" 
	elementFormDefault="qualified" 
	version="2.7.4">
	
	<xs:annotation>
		<xs:documentation xml:lang="en">Schema to define the elements of the READ study.</xs:documentation>
	</xs:annotation>
	
	<xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/read/followup/2.7/1.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/read/followup/2.7/TCGA_BCR.READ_Clinical_FollowUp_v1.0.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/read/followup/2.7/4.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/read/followup/2.7/TCGA_BCR.READ_Clinical_FollowUp_v4.0.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/coad_read/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_COAD_READ_Elements.xsd"/>
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/read/shared/new_tumor_event/2.7/1.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/read/shared/2.7/TCGA_BCR.READ_Clinical_NTEs_v1.0.xsd" />
	
	<xs:element name="tcga_bcr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:admin"/>
				<xs:element ref="patient"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="clin_shared:tumor_tissue_site"/>
				<xs:element ref="shared:histological_type"/>
				<xs:element ref="shared:other_dx"/>
				<xs:element ref="shared:gender"/>
				<xs:element ref="clin_shared:vital_status"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_birth"/>
						<xs:element ref="clin_shared:month_of_birth"/>
						<xs:element ref="clin_shared:year_of_birth"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_birth"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_last_known_alive"/>
						<xs:element ref="clin_shared:month_of_last_known_alive"/>
						<xs:element ref="clin_shared:year_of_last_known_alive"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_last_known_alive"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_death"/>
						<xs:element ref="clin_shared:month_of_death"/>
						<xs:element ref="clin_shared:year_of_death"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_death"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_last_followup"/>
						<xs:element ref="clin_shared:month_of_last_followup"/>
						<xs:element ref="clin_shared:year_of_last_followup"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_last_followup"/>
				</xs:choice>
				<xs:element ref="clin_shared:race_list"/>
				<xs:element ref="shared:bcr_patient_barcode"/>
				<xs:element ref="shared:tissue_source_site"/>
				<xs:element ref="shared:patient_id"/>
				<xs:element ref="shared:bcr_patient_uuid"/>
				<xs:element ref="shared:history_of_neoadjuvant_treatment"/>
				<xs:element ref="clin_shared:informed_consent_verified"/>
				<xs:element ref="clin_shared:icd_o_3_site"/>
				<xs:element ref="clin_shared:icd_o_3_histology"/>
				<xs:element ref="clin_shared:icd_10"/>
				<xs:element ref="clin_shared:tissue_prospective_collection_indicator" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:tissue_retrospective_collection_indicator" minOccurs="0" maxOccurs="1" />
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis"/>
						<xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis"/>
						<xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis"/>
				<xs:element ref="clin_shared:initial_pathologic_diagnosis_method" minOccurs="0" maxOccurs="1"/>
				
				<xs:element ref="shared_stage:stage_event"/>
				
				<xs:element ref="clin_shared:person_neoplasm_cancer_status"/>
				<xs:element ref="clin_shared:ethnicity"/>
				<xs:element ref="clin_shared:weight"/>
				<xs:element ref="clin_shared:height"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_form_completion"/>
						<xs:element ref="clin_shared:month_of_form_completion"/>
						<xs:element ref="clin_shared:year_of_form_completion"/>
					</xs:sequence>
					<xs:element ref="clin_shared:days_to_form_completion"/>
				</xs:choice>
				<xs:element ref="clin_shared:residual_tumor"/>
				<xs:element ref="clin_shared:anatomic_neoplasm_subdivision"/>
				<xs:element ref="clin_shared:primary_lymph_node_presentation_assessment"/>
				<xs:element ref="clin_shared:lymph_node_examined_count"/>
				<xs:element ref="clin_shared:number_of_lymphnodes_positive_by_he"/>
				<xs:element ref="clin_shared:number_of_lymphnodes_positive_by_ihc"/>
				<xs:element ref="coad_read_shared:preoperative_pretreatment_cea_level"/>
				<xs:element ref="coad_read_shared:non_nodal_tumor_deposits"/>
				<xs:element ref="coad_read_shared:circumferential_resection_margin"/>
				<xs:element ref="clin_shared:venous_invasion"/>
				<xs:element ref="clin_shared:lymphatic_invasion"/>
				<xs:element ref="clin_shared:perineural_invasion_present"/>
				<xs:element ref="coad_read_shared:microsatellite_instability"/>
				<xs:element ref="coad_read_shared:number_of_loci_tested"/>
				<xs:element ref="coad_read_shared:number_of_abnormal_loci"/>
				<xs:element ref="coad_read_shared:kras_gene_analysis_performed"/>
				<xs:element ref="coad_read_shared:kras_mutation_found"/>
				<xs:element ref="coad_read_shared:kras_mutation_codon"/>
				<xs:element ref="coad_read_shared:braf_gene_analysis_performed"/>
				<xs:element ref="coad_read_shared:braf_gene_analysis_result"/>
				<xs:element ref="coad_read_shared:synchronous_colon_cancer_present"/>
				<xs:element ref="coad_read_shared:history_of_colon_polyps"/>
				<xs:element ref="coad_read_shared:colon_polyps_present"/>
				<xs:element ref="coad_read_shared:loss_expression_of_mismatch_repair_proteins_by_ihc"/>
				<xs:element ref="coad_read_shared:loss_expression_of_mismatch_repair_proteins_by_ihc_results"/>
				<xs:element ref="coad_read_shared:number_of_first_degree_relatives_with_cancer_diagnosis"/>
				<xs:element ref="shared:tobacco_smoking_history" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="clin_shared:year_of_tobacco_smoking_onset" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="clin_shared:stopped_smoking_year" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="clin_shared:number_pack_years_smoked" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="clin_shared:karnofsky_performance_score" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="clin_shared:eastern_cancer_oncology_group" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="clin_shared:radiation_therapy" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:postoperative_rx_tx" minOccurs="0" maxOccurs="1" />
				<xs:element ref="clin_shared:primary_therapy_outcome_success" minOccurs="0" maxOccurs="1" />
				
				<xs:element ref="read_nte:new_tumor_events" minOccurs="0" maxOccurs="1" />
				
				<xs:element ref="rx:drugs"/>
				<xs:element ref="rad:radiations"/>
				<xs:element ref="follow_ups"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="follow_ups">
		<xs:annotation>
			<xs:documentation>We are using namespaces and version numbers to distinguish one version of followup from another.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="follow_up_v1.0:follow_up" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="follow_up_v4.0:follow_up" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
