tcga.nci/bcr/xml/clinical/lung/2.7/TCGA_BCR.LUNG_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.7"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
           xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
           xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7"
           xmlns:lung_nte="http://tcga.nci/bcr/xml/clinical/lung/shared/new_tumor_event/2.7/1.0"
           xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
           xmlns:lung_shared="http://tcga.nci/bcr/xml/clinical/shared/lung/2.7"
           xmlns="http://tcga.nci/bcr/xml/clinical/lung/2.7"
           targetNamespace="http://tcga.nci/bcr/xml/clinical/lung/2.7">

    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements in various lung cancer studies.</xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7"
               schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7"
               schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7"
               schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7"
               schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
               schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/lung/2.7"
               schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Lung_Elements.xsd"/>
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/lung/shared/new_tumor_event/2.7/1.0"
               schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/lung/shared/2.7/TCGA_BCR.LUNG_Clinical_NTEs_v1.0.xsd" />


    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin"/>
                <xs:element ref="patient"/>
            </xs:sequence>

            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="shared:bcr_patient_barcode"/>
                <xs:element ref="shared:tissue_source_site"/>
                <xs:element ref="shared:patient_id"/>
                <xs:element ref="shared:bcr_patient_uuid"/>
                <xs:element ref="clin_shared:informed_consent_verified" />
                <xs:element ref="clin_shared:icd_o_3_site"/>
                <xs:element ref="clin_shared:icd_o_3_histology"/>
                <xs:element ref="clin_shared:icd_10"/>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_birth" />
                        <xs:element ref="clin_shared:month_of_birth" />
                        <xs:element ref="clin_shared:year_of_birth" />
                    </xs:sequence>

                    <xs:element ref="clin_shared:days_to_birth" />
                </xs:choice>
                <xs:element ref="clin_shared:ethnicity"/>
                <xs:element ref="shared:gender"/>
                <xs:element ref="shared:country"/>
                <xs:element ref="clin_shared:race_list"/>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="shared:day_of_sample_procurement"/>
                        <xs:element ref="shared:month_of_sample_procurement"/>
                        <xs:element ref="shared:year_of_sample_procurement"/>
                    </xs:sequence>
                    <xs:element ref="shared:days_to_sample_procurement"/>
                </xs:choice>
                <xs:element ref="shared:method_of_sample_procurement"/>
                <xs:element ref="lung_shared:lung_surgical_procedure_administered"/>
                <xs:element ref="lung_shared:mediastinal_lymph_node_exam_type"/>
                <xs:element ref="clin_shared:meddra_code"/>
                <xs:element ref="clin_shared:tumor_tissue_site"/>
                <xs:element ref="clin_shared:anatomic_neoplasm_subdivision_other"/>
                <xs:element ref="shared:histological_type"/>
                <xs:element ref="shared:histological_type_other"/>
                <xs:element ref="shared:neoplasm_histologic_grade"/>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis"/>
                        <xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis"/>
                    </xs:sequence>

                    <xs:sequence>
                        <xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis"/>
                        <xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis"/>
                    </xs:sequence>
                </xs:choice>
                <xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis"/>
                <xs:element ref="clin_shared:maximum_tumor_diameter"/>
                <xs:element ref="clin_shared:person_neoplasm_cancer_status" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="clin_shared:vital_status" minOccurs="0" maxOccurs="1"/>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_followup" />
                        <xs:element ref="clin_shared:month_of_last_followup" />
                        <xs:element ref="clin_shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_last_followup" />
                </xs:choice>
                <xs:element ref="stage_event"/>
                <xs:element ref="lung_shared:egfr_mutation_performed"/>
                <xs:element ref="lung_shared:egfr_mutation_identified"/>
                <xs:element ref="lung_shared:egfr_mutation_exon19_deletion"/>
                <xs:element ref="lung_shared:egfr_mutation_l858r"/>
                <xs:element ref="lung_shared:egfr_mutation_t790m"/>
                <xs:element ref="lung_shared:egfr_mutation_exon20_insertion"/>
                <xs:element ref="lung_shared:egfr_mutation_g719a_g719c_g719s"/>
                <xs:element ref="lung_shared:egfr_mutation_l861q"/>
                <xs:element ref="lung_shared:egfr_mutation_other"/>
                <xs:element ref="lung_shared:egfr_mutation_specify"/>
                <xs:element ref="lung_shared:eml4_alk_translocation_performed"/>
                <xs:element ref="lung_shared:eml4_alk_translocation_method"/>
                <xs:element ref="lung_shared:eml4_alk_translocation_method_other"/>
                <xs:element ref="lung_shared:alk_mutation_detected_result"/>
                <xs:element ref="clin_shared:height"/>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion"/>
                        <xs:element ref="clin_shared:month_of_form_completion"/>
                        <xs:element ref="clin_shared:year_of_form_completion"/>
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_form_completion"/>
                </xs:choice>
                <xs:element ref="shared:other_dx"/>
                <xs:element ref="other_malignancy_list"/>
                <xs:element ref="clin_shared:asthma_indicator"/>
                <xs:element ref="clin_shared:year_of_asthma_dx"/>
                <xs:element ref="clin_shared:copd_indicator"/>
                <xs:element ref="clin_shared:year_of_copd_dx"/>
                <xs:element ref="clin_shared:pneumonia_indicator"/>
                <xs:element ref="clin_shared:year_of_pneumonia_dx"/>
                <xs:element ref="clin_shared:hiv_aids_indicator"/>
                <xs:element ref="clin_shared:year_of_hiv_aids_dx"/>
                <xs:element ref="clin_shared:hypertension_indicator"/>
                <xs:element ref="clin_shared:year_of_hypertension_dx"/>
                <xs:element ref="clin_shared:cad_heart_attack_indicator"/>
                <xs:element ref="clin_shared:year_of_cad_heart_attack_dx"/>
                <xs:element ref="clin_shared:stroke_indicator"/>
                <xs:element ref="clin_shared:year_of_stroke_dx"/>
                <xs:element ref="clin_shared:diabetes_indicator"/>
                <xs:element ref="clin_shared:year_of_diabetes_dx"/>
                <xs:element ref="clin_shared:aspirin_use_category"/>
                <xs:element ref="clin_shared:acetaminophen_use_category"/>
                <xs:element ref="clin_shared:metformin_use_category"/>
                <xs:element ref="clin_shared:statin_use_category"/>
                <xs:element ref="clin_shared:oxygen_use_indicator"/>
                <xs:element ref="clin_shared:oxygen_use_type"/>
                <xs:element ref="clin_shared:weight_prior_to_diagnosis"/>
                <xs:element ref="clin_shared:weight"/>
                <xs:element ref="clin_shared:difficult_to_answer_epidemiology"/>
                <xs:element ref="clin_shared:smoking_history_indicator"/>
                <xs:element ref="clin_shared:age_began_smoking_in_years"/>
                <xs:element ref="clin_shared:smoking_cessation_indicator"/>
                <xs:element ref="clin_shared:smoking_cessation_duration"/>
                <xs:element ref="clin_shared:smoking_cessation_duration_units"/>
                <xs:element ref="clin_shared:smoking_avg_cigarettes_per_day"/>
                <xs:element ref="clin_shared:smoking_frequency"/>
                <xs:element ref="clin_shared:smoking_duration_years"/>
                <xs:element ref="clin_shared:smoking_time_in_day_begins"/>
                <xs:element ref="other_tobacco_product_usage_list"/>
                <xs:element ref="clin_shared:difficult_to_answer_smoking"/>
                <xs:element ref="clin_shared:childhood_smoke_exposure"/>
                <xs:element ref="clin_shared:childhood_smoke_exposure_per_day"/>
                <xs:element ref="clin_shared:childhood_smoke_exposure_years"/>
                <xs:element ref="clin_shared:adult_smoke_exposure"/>
                <xs:element ref="clin_shared:adult_smoke_exposure_per_day"/>
                <xs:element ref="clin_shared:adult_smoke_exposure_years"/>
                <xs:element ref="clin_shared:workplace_smoke_exposure"/>
                <xs:element ref="clin_shared:workplace_smoke_exposure_per_day"/>
                <xs:element ref="clin_shared:workplace_smoke_exposure_years"/>
                <xs:element ref="clin_shared:social_smoke_exposure"/>
                <xs:element ref="clin_shared:social_smoke_exposure_per_day"/>
                <xs:element ref="clin_shared:social_smoke_exposure_years"/>
                <xs:element ref="occupational_history_list"/>
                <xs:element ref="clin_shared:asbestos_exposure"/>
                <xs:element ref="clin_shared:radioactive_material_exposure"/>
                <xs:element ref="clin_shared:diesel_exhaust_exposure"/>
                <xs:element ref="clin_shared:crystalline_silica_exposure"/>
                <xs:element ref="clin_shared:wood_dust_exposure"/>
                <xs:element ref="clin_shared:mineral_dust_exposure"/>
                <xs:element ref="clin_shared:other_dust_exposure"/>
                <xs:element ref="clin_shared:other_dust_exposure_type"/>
                <xs:element ref="clin_shared:other_gas_exposure"/>
                <xs:element ref="clin_shared:other_gas_exposure_type"/>
                <xs:element ref="clin_shared:difficult_to_answer_exposure"/>
                <xs:element ref="clin_shared:birth_country"/>
                <xs:element ref="lung_shared:family_history_lung_cancer_indicator"/>
                <xs:element ref="family_history_lung_cancer_list"/>
                <xs:element ref="clin_shared:physical_exercise_days_per_week"/>
                <xs:element ref="clin_shared:highest_education_achieved"/>
                <xs:element ref="clin_shared:marital_status"/>
                <xs:element ref="clin_shared:difficult_to_answer_family"/>
                <xs:element ref="lung_nte:new_tumor_events" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="occupational_history_list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="occupational_history" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="occupational_history">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="clin_shared:occupation_primary_job"/>
                <xs:element ref="clin_shared:occupation_assessment_indicator"/>
                <xs:element ref="clin_shared:person_occupation_years_number"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="other_tobacco_product_usage_list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="other_tobacco_product_usage" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="other_tobacco_product_usage">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="clin_shared:other_tobacco_product_type"/>
                <xs:element ref="clin_shared:other_tobacco_product_indicator"/>
                <xs:element ref="clin_shared:other_tobacco_product_daily_use"/>
                <xs:element ref="clin_shared:other_tobacco_product_duration"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="stage_event">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared_stage:system_version" />
                <xs:element ref="shared_stage:pathologic_stage" minOccurs="0" maxOccurs="1" />
                <xs:element ref="shared_stage:clinical_M" />
                <xs:element ref="shared_stage:pathologic_T" />
                <xs:element ref="shared_stage:pathologic_N" />
                <xs:element ref="shared_stage:pathologic_M" />
            </xs:sequence>
            <xs:attribute name="system" type="shared_stage:system_type"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="other_malignancy_list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="other_malignancy" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="other_malignancy">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shared:other_dx_site" />
                <xs:element ref="clin_shared:year_of_other_malignancy" />
                <xs:element ref="shared:drug_tx_indicator" />
                <xs:element ref="clin_shared:chest_radiation_indicator" />
                <xs:element ref="clin_shared:other_radiation_other_malignancy" />
                <xs:element ref="shared:surgery_indicator" />
                <xs:element ref="clin_shared:other_therapy_other_malignancy" />
                <xs:element ref="clin_shared:other_therapy_other_malignancy_text" />
                <xs:element ref="clin_shared:other_therapy_other_malignancy_unknown" />
            </xs:sequence>
            <xs:attribute name="system" type="shared_stage:system_type"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="family_history_lung_cancer_list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="family_history_lung_cancer" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="family_history_lung_cancer">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="clin_shared:blood_relative_with_cancer" />
            <xs:element ref="lung_shared:age_at_first_dx_of_lung_cancer" />
            <xs:element ref="lung_shared:age_at_first_dx_of_lung_cancer_unknown" />
            <xs:element ref="clin_shared:relative_smoking_history_indicator" />
            <xs:element ref="clin_shared:relative_death_indicator" />
        </xs:sequence>
        <xs:attribute name="system" type="shared_stage:system_type"/>
    </xs:complexType>
</xs:element>
</xs:schema>
