tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_New_Tumor_Event_Elements.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" version="2.7.12"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7"
  xmlns="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.7"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.7">

    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" />

	<xs:element name="new_neoplasm_event_occurrence_anatomic_site" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="Abdomen" />
					<xs:enumeration value="Adrenal" />
					<xs:enumeration value="Anus" />
					<xs:enumeration value="Appendix" />
					<xs:enumeration value="Ascites/Peritoneum" />
					<xs:enumeration value="Axillary lymph nodes" />
					<xs:enumeration value="Bladder" />
					<xs:enumeration value="Bone Marrow" />
					<xs:enumeration value="Bone" />
					<xs:enumeration value="Brain" />
					<xs:enumeration value="Breast" />
					<xs:enumeration value="Cervical Lymph Nodes" />
					<xs:enumeration value="Cervix" />
					<xs:enumeration value="Colon" />
					<xs:enumeration value="Contralateral Pleura" />
					<xs:enumeration value="Distant Metastasis" />
					<xs:enumeration value="Epididymis" />
					<xs:enumeration value="Epidural" />
					<xs:enumeration value="Epitrochlear lymph nodes" />
					<xs:enumeration value="Esophagus" />
					<xs:enumeration value="Extremities" />
					<xs:enumeration value="Femoral lymph nodes" />
					<xs:enumeration value="Gallbladder" />
					<xs:enumeration value="Head &amp; Neck" />
					<xs:enumeration value="Heart" />
					<xs:enumeration value="Hilar lymph nodes" />
					<xs:enumeration value="Hypopharynx" />
					<xs:enumeration value="Iliac-common lymph nodes" />
					<xs:enumeration value="Iliac-external lymph nodes" />
					<xs:enumeration value="Inguinal lymph nodes" />
					<xs:enumeration value="Intraocular" />
					<xs:enumeration value="Ipsilateral Chest Cavity" />
					<xs:enumeration value="Ipsilateral Lymph Nodes" />
					<xs:enumeration value="Ipsilateral Chest Wall" />
					<xs:enumeration value="Ipsilateral Pleura" />
					<xs:enumeration value="Kidney" />
					<xs:enumeration value="Larynx" />
					<xs:enumeration value="Leptomeninges" />
					<xs:enumeration value="Liver" />
					<xs:enumeration value="Lung" />
					<xs:enumeration value="Lymph Node Only" />
					<xs:enumeration value="Lymph Node(s)" />
					<xs:enumeration value="Mediastinal Soft Tissue" />
					<xs:enumeration value="Mediastinal lymph nodes" />
                    <xs:enumeration value="Mediastinal/Intra-thoracic" />
					<xs:enumeration value="Mesenteric lymph nodes" />
					<xs:enumeration value="Nasal Soft Tissue" />
					<xs:enumeration value="Nasopharynx" />
					<xs:enumeration value="Non-regional / Distant Lymph Nodes" />
                    <xs:enumeration value="No Known Extranodal Involvement" />
					<xs:enumeration value="Not Applicable" />
					<xs:enumeration value="Occipital lymph nodes" />
					<xs:enumeration value="Oral Cavity" />
					<xs:enumeration value="Oropharynx" />
					<xs:enumeration value="Other, specify" />
					<xs:enumeration value="Ovary" />
					<xs:enumeration value="Pancreas" />
					<xs:enumeration value="Paraaortic lymph nodes" />
					<xs:enumeration value="Parotid Gland" />
					<xs:enumeration value="Parotid lymph nodes" />
					<xs:enumeration value="Pelvis" />
					<xs:enumeration value="Pericardium" />
					<xs:enumeration value="Peri-orbital Soft Tissue" />
					<xs:enumeration value="Peripheral Blood" />
					<xs:enumeration value="Peritoneal Surfaces" />
					<xs:enumeration value="Pleura/Pleural effusion" />
					<xs:enumeration value="Popliteal lymph nodes" />
					<xs:enumeration value="Perihilar Lymph Node" />
					<xs:enumeration value="Prostate" />
					<xs:enumeration value="Pulmonary" />
					<xs:enumeration value="Rectum" />
					<xs:enumeration value="Renal Pelvis" />
					<xs:enumeration value="Retroperitoneal lymph nodes" />
					<xs:enumeration value="Retroperitoneum" />
					<xs:enumeration value="Salivary Gland" />
					<xs:enumeration value="Sinus" />
					<xs:enumeration value="Skin" />
					<xs:enumeration value="Small Intestine" />
					<xs:enumeration value="Soft Tissue" />
					<xs:enumeration value="Splenic lymph nodes" />
					<xs:enumeration value="Stomach" />
					<xs:enumeration value="Submandibular lymph nodes" />
					<xs:enumeration value="Supraclavicular lymph nodes" />
					<xs:enumeration value="Testes" />
					<xs:enumeration value="Thyroid" />
					<xs:enumeration value="Trunk" />
					<xs:enumeration value="Tumor Bed" />
					<xs:enumeration value="Ureter" />
					<xs:enumeration value="Urethra" />
					<xs:enumeration value="Uterus" />
					<xs:enumeration value="Vulva" />
                    <xs:attribute name="cde" type="xs:string" default="3108271" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="new_neoplasm_occurrence_anatomic_site_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3128033" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="additional_pharmaceutical_therapy" nillable="true">
		<xs:annotation>
			<xs:documentation>
				The CDE has been changed form 2650646 to 3427616
			</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427616" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="additional_radiation_therapy" nillable="true">
		<xs:annotation>
			<xs:documentation>
				The CDE has been changed FROM 3008761 to 3427615.
			</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427615" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="progression_determined_by">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Physical Examination" />
                    <xs:enumeration value="Imaging Study" />
                    <xs:enumeration value="Molecular Markers" />
                    <xs:enumeration value="First Seen At Further Surgery" />
                    <xs:enumeration value="Biopsy with Histologic Confirmation" />
                    <xs:enumeration value="Convincing Imaging" />
                    <xs:enumeration value="Positive Biomarker(s)" />
                    <xs:enumeration value="Other Method" />
                    <xs:attribute name="cde" type="xs:string" default="2786205" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="1.9" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="month_of_additional_surgery_locoregional_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_month">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897032" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="day_of_additional_surgery_locoregional_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_day">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897034" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="year_of_additional_surgery_locoregional_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897036" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="days_to_additional_surgery_locoregional_procedure">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3408572" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="month_of_additional_surgery_metastatic_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_month">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897038" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="day_of_additional_surgery_metastatic_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_day">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897040" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="year_of_additional_surgery_metastatic_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2897042" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="days_to_additional_surgery_metastatic_procedure">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3408682" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="additional_surgery_locoregional_procedure" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3008755" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="additional_surgery_metastatic_procedure" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3008757" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="day_of_new_tumor_event_after_initial_treatment" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_day">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104042" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="month_of_new_tumor_event_after_initial_treatment" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_month">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104044" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="year_of_new_tumor_event_after_initial_treatment" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104046" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.2" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="days_to_new_tumor_event_after_initial_treatment">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3392464" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_neoplasm_event_type" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Biochemical evidence of disease" />
                    <xs:enumeration value="Both Locoregional and Distant Metastasis" />
                    <xs:enumeration value="Distant Metastasis" />
                    <xs:enumeration value="Extrahepatic Recurrence" />
                    <xs:enumeration value="Intrahepatic Recurrence" />
					<xs:enumeration value="Intrapleural Progression" />
                    <xs:enumeration value="Locoregional (Urothelial tumor event)" />
                    <xs:enumeration value="Locoregional Disease" />
                    <xs:enumeration value="Locoregional Recurrence" />
					<xs:enumeration value="Metachronous Testicular Tumor" />
                    <xs:enumeration value="Metastatic" />
					<xs:enumeration value="New primary melanoma" />
                    <xs:enumeration value="New Primary Tumor" />
                    <xs:enumeration value="No New Tumor Event" />
                    <xs:enumeration value="Not Applicable" />
					<xs:enumeration value="Progression of Disease" />
                    <xs:enumeration value="Recurrence" />
					<xs:enumeration value="Regional lymph node" />
                    <xs:attribute name="cde" type="xs:string" default="3119721" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor_event_after_initial_treatment" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3121376" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	
	<xs:element name="new_tumor_event_additional_surgery_procedure" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427611" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="day_of_new_tumor_event_additional_surgery_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_day">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427613" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="month_of_new_tumor_event_additional_surgery_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_month">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427612" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="year_of_new_tumor_event_additional_surgery_procedure" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3427614" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="days_to_new_tumor_event_additional_surgery_procedure">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="3008335" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="residual_disease_post_new_tumor_event_margin_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="R0" />
                    <xs:enumeration value="R1" />
                    <xs:enumeration value="R2" />
                    <xs:enumeration value="RX" />
                    <xs:attribute name="cde" type="xs:string" default="3008753" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_disease_multifocal" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3524937" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor_discontiguous_lesion_num" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3526717" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor_prior_resection_rad_length" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3527990" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor_prior_resection_rad_width" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3527997" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

	<xs:element name="new_tumor_prior_resection_rad_depth" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3527996" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor_post_resection_path_length" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3528003" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor_post_resection_path_width" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3528020" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor_post_resection_path_depth" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3528004" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor_prior_resection_rad_burden" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3526720" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_tumor_post_resection_path_burden" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3526721" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="new_neoplasm_confirmed_diagnosis_method_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Imaging" />
                    <xs:enumeration value="Pathology" />
                    <xs:attribute name="cde" type="xs:string" default="3186701" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="histologic_disease_progression_present_indicator" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
                    <xs:attribute name="cde" type="xs:string" default="3181376"/>
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4"/>
                    <xs:attribute name="tier" type="xs:string" default="2"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="new_tumor_event_ablation_embo_tx" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3173961" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
     <xs:element name="day_of_new_tumor_event_transplant" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_day">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3168021" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="new_tumor_event_liver_transplant" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3168060" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="month_of_new_tumor_event_transplant" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_month">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3168022" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
     
    <xs:element name="year_of_new_tumor_event_transplant" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:generic_year">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3168037" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.5" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>  
    
    <xs:element name="days_to_new_tumor_event_transplant" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:attribute name="cde" type="xs:string" default="4461934" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
	<xs:element name="treatment_outcome" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="Complete Response" />
					<xs:enumeration value="Partial Response" />
					<xs:enumeration value="Treatment Stopped Due to Toxicity" />
					<xs:enumeration value="Treatment Ongoing" />					
                    <xs:attribute name="cde" type="xs:string" default="5102392" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.7" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="new_event_treatment_type" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="Surgery" />
					<xs:enumeration value="Pharmaceutical Therapy" />
					<xs:enumeration value="Radiation Therapy" />
					<xs:enumeration value="Other Treatment Type" />					
                    <xs:attribute name="cde" type="xs:string" default="5102391" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.7" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
</xs:schema>
