tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_UCEC_UCS_Elements.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.11"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7"
  xmlns="http://tcga.nci/bcr/xml/clinical/shared/ucec_ucs/2.7"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/shared/ucec_ucs/2.7">

  <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" />
  
  
	<xs:element name="horm_ther" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Yes, I am currently taking menopausal hormone therapy." />
                    <xs:enumeration value="Yes, I have taken menopausal hormone therapy in the past, but no longer do." />
                    <xs:enumeration value="No, I have never taken menopausal hormone therapy." />
                    <xs:attribute name="cde" type="xs:string" default="3012813" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

	 <xs:element name="prior_tamoxifen_administered_usage_category" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="Current User" />
                    <xs:enumeration value="Former User" />
                    <xs:enumeration value="Never Used" />
                    <xs:attribute name="cde" type="xs:string" default="3104234" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="hypertension" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2183378" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="diabetes" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2716085" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="pregnancies" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
					<xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4+" />
                    <xs:attribute name="cde" type="xs:string" default="3012512" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="colorectal_cancer" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2684753" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.4" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

	<xs:element name="recurrence_second_surgery_neoplasm_surgical_procedure_name" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Excisional Biopsy" />
                    <xs:enumeration value="Incisional Biopsy" />
                    <xs:enumeration value="Surgical Resection" />
                    <xs:enumeration value="Other Method, Specify Below" />
                    <xs:attribute name="cde" type="xs:string" default="3125097" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="recurrence_second_surgery_neoplasm_surgical_procedure_name_other" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3125102" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	
	
	
	<xs:element name="surgical_approach" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Minimally Invasive" />
                    <xs:enumeration value="open" />
                    <xs:attribute name="cde" type="xs:string" default="2429840" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="peritoneal_wash" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="negative" />
                    <xs:enumeration value="positive" />
                    <xs:enumeration value="Not Performed" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="61384" /> 
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="pct_tumor_invasion" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:number_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104403" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                    <xs:attribute name="units" type="xs:string" fixed="%"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="total_pelv_lnr" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:integer_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104458" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="pln_pos_light_micro" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:integer_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151830" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="pln_pos_ihc" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:integer_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151829" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="total_pelv_lnp" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:integer_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151828" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="total_aor_lnr" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:integer_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3104460" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="aln_pos_light_micro" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:integer_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151832" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="aln_pos_ihc" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:integer_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151831" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="total_aor-lnp" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="utility:integer_or_null">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3151827" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
	
</xs:schema>