tcga.nci/bcr/xml/clinical/brca/followup/2.7/TCGA_BCR.BRCA_Clinical_FollowUp_v1.5.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.13"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7" 
	xmlns:nte="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.7"
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7" 
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7" 
	xmlns:brca_shared="http://tcga.nci/bcr/xml/clinical/brca/shared/2.7" 
	xmlns="http://tcga.nci/bcr/xml/clinical/brca/followup/2.7/1.5" 
	targetNamespace="http://tcga.nci/bcr/xml/clinical/brca/followup/2.7/1.5">
	
    <xs:import schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" namespace="http://tcga.nci/bcr/xml/utility/2.7" />
    <xs:import schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd" namespace="http://tcga.nci/bcr/xml/administration/2.7" />
    <xs:import schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd" namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_New_Tumor_Event_Elements.xsd" />
	<xs:import schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/brca/shared/2.7/TCGA_BCR.BRCA_Clinical_Shared_Datatypes.xsd" namespace="http://tcga.nci/bcr/xml/clinical/brca/shared/2.7" />
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the TCGA Clinical Data Follow-up Form within the BRCA study.</xs:documentation>
    </xs:annotation>
    <xs:element name="follow_up">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="clin_shared:bcr_followup_barcode" />
                <xs:element ref="clin_shared:bcr_followup_uuid" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_followup" />
                        <xs:element ref="clin_shared:month_of_last_followup" />
                        <xs:element ref="clin_shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_last_followup" />
                </xs:choice>
                <xs:element ref="clin_shared:vital_status" />
				<xs:element ref="clin_shared:person_neoplasm_cancer_status" />
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_known_alive" />
                        <xs:element ref="clin_shared:month_of_last_known_alive" />
                        <xs:element ref="clin_shared:year_of_last_known_alive" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_last_known_alive" />
                </xs:choice>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_death" />
                        <xs:element ref="clin_shared:month_of_death" />
                        <xs:element ref="clin_shared:year_of_death" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_death" />
                </xs:choice>
				<xs:element ref="clin_shared:radiation_therapy" />
                <xs:element ref="clin_shared:targeted_molecular_therapy" minOccurs="0" />
				<xs:element ref="clin_shared:postoperative_rx_tx" minOccurs="0" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="nte:day_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="nte:month_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="nte:year_of_new_tumor_event_after_initial_treatment" />
                    </xs:sequence>
                    <xs:element ref="nte:days_to_new_tumor_event_after_initial_treatment" />
                </xs:choice>
				<xs:element ref="nte:additional_surgery_locoregional_procedure" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="nte:day_of_additional_surgery_locoregional_procedure" />
                        <xs:element ref="nte:month_of_additional_surgery_locoregional_procedure" />
                        <xs:element ref="nte:year_of_additional_surgery_locoregional_procedure" />
                    </xs:sequence>
                    <xs:element ref="nte:days_to_additional_surgery_locoregional_procedure" />
                </xs:choice>
				<xs:element ref="brca_shared:breast_carcinoma_estrogen_receptor_status" />
				<xs:element ref="brca_shared:er_level_cell_percentage_category" />
				<xs:element ref="brca_shared:immunohistochemistry_positive_cell_score" />
				<xs:element ref="brca_shared:positive_finding_estrogen_receptor_other_measurement_scale_text" />
				<xs:element ref="brca_shared:er_detection_method_text" />
				<xs:element ref="brca_shared:breast_carcinoma_progesterone_receptor_status" />
				<xs:element ref="brca_shared:progesterone_receptor_level_cell_percent_category" />
				<xs:element ref="brca_shared:breast_carcinoma_immunohistochemistry_pos_cell_score" />
				<xs:element ref="brca_shared:pos_finding_progesterone_receptor_other_measurement_scale_text" />
				<xs:element ref="brca_shared:pgr_detection_method_text" />
				<xs:element ref="brca_shared:lab_proc_her2_neu_immunohistochemistry_receptor_status" />
				<xs:element ref="brca_shared:her2_erbb_pos_finding_cell_percent_category" />
				<xs:element ref="brca_shared:her2_immunohistochemistry_level_result" />
				<xs:element ref="brca_shared:pos_finding_her2_erbb2_other_measurement_scale_text" />
				<xs:element ref="brca_shared:her2_erbb_method_calculation_method_text" />
				<xs:element ref="brca_shared:lab_procedure_her2_neu_in_situ_hybrid_outcome_type" />
				<xs:element ref="brca_shared:her2_neu_breast_carcinoma_copy_analysis_input_total_number" />
				<xs:element ref="brca_shared:fluorescence_in_situ_hybridization_diagnostic_procedure_chromosome_17_signal_result_range" />
				<xs:element ref="brca_shared:her2_neu_and_centromere_17_copy_number_analysis_input_total_number_count" />
				<xs:element ref="brca_shared:her2_neu_chromosone_17_signal_ratio_value" />
				<xs:element ref="brca_shared:her2_and_centromere_17_positive_finding_other_measurement_scale_text" />
				<xs:element ref="brca_shared:her2_erbb_pos_finding_fluorescence_in_situ_hybridization_calculation_method_text" />
				<xs:element ref="nte:additional_surgery_metastatic_procedure" />
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="nte:day_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="nte:month_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="nte:year_of_additional_surgery_metastatic_procedure" />
                    </xs:sequence>
                    <xs:element ref="nte:days_to_additional_surgery_metastatic_procedure" />
                </xs:choice>
				
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_estrogen_receptor_status" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_estrogen_receptor_level_cell_percent_category" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_immunohistochemistry_er_pos_cell_score" />
				<xs:element ref="brca_shared:pos_finding_metastatic_breast_carcinoma_estrogen_receptor_other_measuremenet_scale_text" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_estrogen_receptor_detection_method_text" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_progesterone_receptor_status" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_progesterone_receptor_level_cell_percent_category" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_immunohistochemistry_pr_pos_cell_score" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_pos_finding_progesterone_receptor_other_measure_scale_text" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_progesterone_receptor_detection_method_text" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_lab_proc_her2_neu_immunohistochemistry_receptor_status" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_erbb_pos_finding_cell_percent_category" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_erbb2_immunohistochemistry_level_result" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_pos_finding_her2_erbb2_other_measure_scale_text" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_erbb_method_calculation_method_text" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_lab_proc_her2_neu_in_situ_hybridization_outcome_type" />
				<xs:element ref="brca_shared:her2_neu_metastatic_breast_carcinoma_copy_analysis_input_total_number" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_fluorescence_in_situ_hybridization_diagnostic_proc_centromere_17_signal_result_range" />
				<xs:element ref="brca_shared:her2_neu_and_centromere_17_copy_number_metastatic_breast_carcinoma_analysis_input_total_number_count" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_neu_chromosone_17_signal_ratio_value" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_pos_finding_other_scale_measurement_text" />
				<xs:element ref="brca_shared:metastatic_breast_carcinoma_her2_erbb_pos_finding_fluorescence_in_situ_hybridization_calculation_method_text" />

				<xs:element ref="nte:additional_radiation_therapy" />
				<xs:element ref="nte:additional_pharmaceutical_therapy" />
			    			
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />
                        <xs:element ref="clin_shared:month_of_form_completion" />
                        <xs:element ref="clin_shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_form_completion" />
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" default="1.5" use="optional"/>
			<xs:attribute name="sequence" type="xs:integer" />
        </xs:complexType>
    </xs:element>
</xs:schema>
