tcga.nci/bcr/xml/clinical/blca/2.7/TCGA_BCR.BLCA_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.4" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7"
  xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
  xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7"
  xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
  xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
  xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7"
  xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7"
  xmlns:blca_shared="http://tcga.nci/bcr/xml/clinical/blca/shared/2.7" 
  xmlns:blca_nte="http://tcga.nci/bcr/xml/clinical/blca/shared/new_tumor_event/2.7/1.0" 
  xmlns:follow_up_v2.0="http://tcga.nci/bcr/xml/clinical/blca/followup/2.7/2.0"
  xmlns:follow_up_v4.0="http://tcga.nci/bcr/xml/clinical/blca/followup/2.7/4.0"
  xmlns="http://tcga.nci/bcr/xml/clinical/blca/2.7"
  targetNamespace="http://tcga.nci/bcr/xml/clinical/blca/2.7">
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the BLCA study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/blca/shared/2.7" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/blca/shared/2.7/TCGA_BCR.BLCA_Clinical_Shared_Datatypes.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/blca/shared/new_tumor_event/2.7/1.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/blca/shared/2.7/TCGA_BCR.BLCA_Clinical_NTEs_v1.0.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/blca/followup/2.7/2.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/blca/followup/2.7/TCGA_BCR.BLCA_Clinical_FollowUp_v2.0.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/blca/followup/2.7/4.0" schemaLocation="http://tcga-data.nci.nih.gov/docs/xsd/BCR/tcga.nci/bcr/xml/clinical/blca/followup/2.7/TCGA_BCR.BLCA_Clinical_FollowUp_v4.0.xsd" />
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="clin_shared:informed_consent_verified" />
                <xs:element ref="clin_shared:icd_o_3_site" />
                <xs:element ref="clin_shared:icd_o_3_histology" />
                <xs:element ref="clin_shared:icd_10" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />
                        <xs:element ref="clin_shared:month_of_form_completion" />
                        <xs:element ref="clin_shared:year_of_form_completion" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_form_completion" />
                </xs:choice>
                
                <xs:element ref="clin_shared:tissue_prospective_collection_indicator" />
                <xs:element ref="clin_shared:tissue_retrospective_collection_indicator" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_birth" />
                        <xs:element ref="clin_shared:month_of_birth" />
                        <xs:element ref="clin_shared:year_of_birth" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_birth" />
                </xs:choice>
                
                <xs:element ref="shared:gender" />
                <xs:element ref="clin_shared:height" />
                <xs:element ref="clin_shared:weight" />
                <xs:element ref="clin_shared:race_list"/>
                <xs:element ref="clin_shared:ethnicity" />
                <xs:element ref="shared:other_dx" />
                <xs:element ref="shared:history_of_neoadjuvant_treatment" />
                <xs:element ref="clin_shared:vital_status" />
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_followup" />
                        <xs:element ref="clin_shared:month_of_last_followup" />
                        <xs:element ref="clin_shared:year_of_last_followup" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_last_followup" />
                </xs:choice>

                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_known_alive" />
                        <xs:element ref="clin_shared:month_of_last_known_alive" />
                        <xs:element ref="clin_shared:year_of_last_known_alive" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_last_known_alive" />
                </xs:choice>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_death" />
                        <xs:element ref="clin_shared:month_of_death" />
                        <xs:element ref="clin_shared:year_of_death" />
                    </xs:sequence>
                    
                    <xs:element ref="clin_shared:days_to_death" />
                </xs:choice>
                
                <xs:element ref="clin_shared:person_neoplasm_cancer_status" />
                <xs:element ref="person_occupation_description_text" />
                <xs:element ref="clin_shared:occupation_primary_job" />
                <xs:element ref="chemical_exposure_text" />
                <xs:element ref="person_primary_industry_text" />
                <xs:element ref="clin_shared:person_occupation_years_number" />
                <xs:element ref="shared:tobacco_smoking_history" />
                <xs:element ref="clin_shared:age_began_smoking_in_years" />
                <xs:element ref="clin_shared:stopped_smoking_year" />
                <xs:element ref="clin_shared:number_pack_years_smoked" />
                <xs:element ref="blood_relative_cancer_history_list" />
                <xs:element ref="clin_shared:tumor_tissue_site" />
                <xs:element ref="shared:histological_type"/>
                <xs:element ref="diagnosis_subtype" />
                <xs:element ref="shared:neoplasm_histologic_grade" />
                <xs:element ref="clin_shared:anatomic_neoplasm_subdivision" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
                        <xs:documentation xml:lang="en">
                            Starting with version 4.05 of the TCGA Clinical Data Form, this question can
							have multiple answers. That is, now the anatomic organ sub-division of the tumor 
							used for TCGA includes **ALL** areas of tumor invasion.
                        </xs:documentation>
                    </xs:annotation>
				</xs:element>
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis" />
                        <xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis" />
                    </xs:sequence>
                    
                    <xs:sequence>
                        <xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis" />
                        <xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis" />
                    </xs:sequence>
                </xs:choice>
                
                <xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis" />
                <xs:element ref="clin_shared:initial_pathologic_diagnosis_method" />
                <xs:element ref="clin_shared:init_pathology_dx_method_other" />
                
                <xs:element ref="clin_shared:primary_lymph_node_presentation_assessment">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This item was first introduced in version 2.04 of the TCGA Clinical Data Form
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                
                <xs:element ref="clin_shared:lymph_node_examined_count" />
                <xs:element ref="clin_shared:number_of_lymphnodes_positive_by_he" />
                <xs:element ref="disease_extracapsular_extension_ind-3" />
                <xs:element ref="bladder_carcinoma_extracapsular_extension_status" />
                <xs:element ref="clin_shared:lymphovascular_invasion_present" />
	
				<xs:element ref="shared_stage:stage_event" />
				
                <xs:element ref="metastatic_site_list" />
                <xs:element ref="clin_shared:other_metastatic_site" />
                <xs:element ref="person_concomitant_prostate_carcinoma_occurrence_indicator" />
                <xs:element ref="person_concomitant_prostate_carcinoma_pathologic_t_stage" />
				<xs:element ref="clin_shared:karnofsky_performance_score" />
                <xs:element ref="clin_shared:eastern_cancer_oncology_group" />
				
				<!-- The following was added on the v4 enrollment form. -->
				<!-- Find the order in which these should go into this XSD -->
				<xs:element ref="clin_shared:postoperative_rx_tx" />
				<xs:element ref="clin_shared:radiation_therapy" />
				<xs:element ref="clin_shared:primary_therapy_outcome_success" />
				<xs:element ref="blca_shared:history_non_muscle_invasive_blca" />
		
                <xs:element ref="blca_nte:new_tumor_events" minOccurs="1" maxOccurs="1" />
                <xs:element ref="follow_ups" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="follow_ups">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                We are using namespaces and version numbers to distinguish one version of followup from another.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="follow_up_v2.0:follow_up" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="follow_up_v4.0:follow_up" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							This new data structure was added for the version 4+ of the followup forms for the following reasons:
							(1) Data can be collected for multiple New Tumor Events within a single followup form. 
							(2) Question CDE=3121376 in the New Tumor Event section can only be answered once regardless of the 
									number of events that are entered within a single form. Within the follow_up_v2.0
									section of the XML there is no way (at least without making drastic changes to the existing XSD) 
									to enable data sets for multiple New Tumor Events, but still have only ONE answer for 
									question CDE=3121376.
									
									THIS IS THE PRIMARY REASON for BLCA! 
							(3) Question CDE=3185186 in the New Tumor Event section is now a question that can have multiple answers. 
							(4) Question CDE=3186207 in the New Tumor Event section is now a question that can have multiple answers. 
							(5) Informatics has a general requirement that the XSD for an existing followup section not change much, 
									if at all. 
							(6) The newer version 4+ followup forms for other studies has changes of more impact, which necessitates
									a new followup sections in the XSDs. Due to the sake of consistency, the pattern of creating a 
									new follow_up_v4.0 section for ALL studies was used. 
						</xs:documentation>
					</xs:annotation>
				</xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="person_occupation_description_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2435398" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="chemical_exposure_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="2596673" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="person_primary_industry_text" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3135408" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="blood_relative_cancer_history_list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="blood_relative_cancer_history" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="blood_relative_cancer_history">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="clin_shared:family_member_relationship_type" />
                <xs:element ref="clin_shared:cancer_diagnosis_cancer_type_icd9_text_name" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="diagnosis_subtype" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Non-Papillary" />
                    <xs:enumeration value="Papillary" />
                    <xs:attribute name="cde" type="xs:string" default="2783887" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
     
    <xs:element name="disease_extracapsular_extension_ind-3" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="64165" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="bladder_carcinoma_extracapsular_extension_status" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="Extensive" />
                    <xs:enumeration value="Focal" />
                    <xs:enumeration value="Unknown" />
                    <xs:attribute name="cde" type="xs:string" default="3130374" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="metastatic_site_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="clin_shared:metastatic_site" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="person_concomitant_prostate_carcinoma_occurrence_indicator" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:extension base="utility:yes_or_no">
                    <xs:attributeGroup ref="utility:common_ext_attribute_group" />
                    <xs:attribute name="cde" type="xs:string" default="3135387" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="person_concomitant_prostate_carcinoma_pathologic_t_stage" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="pT0" />
					<xs:enumeration value="pT1" />
					<xs:enumeration value="pT1a" />
					<xs:enumeration value="pT1b" />
					<xs:enumeration value="pT1c" />
                    <xs:enumeration value="pT2" />
                    <xs:enumeration value="pT2a" />
                    <xs:enumeration value="pT2b" />
                    <xs:enumeration value="pT2c" />
                    <xs:enumeration value="pT3" />
                    <xs:enumeration value="pT3a" />
                    <xs:enumeration value="pT3b" />
                    <xs:enumeration value="pT4" />
                    <xs:enumeration value="pTX" />
                    <xs:attribute name="cde" type="xs:string" default="3135398" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="gleason_score_combined_pattern_value" nillable="true">
        <xs:complexType mixed="true">
            <xs:simpleContent>
                <xs:restriction base="utility:clinical_res_attributes">
                    <xs:enumeration value="" />
                    <xs:enumeration value="10" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4" />
                    <xs:enumeration value="5" />
                    <xs:enumeration value="6" />
                    <xs:enumeration value="7" />
                    <xs:enumeration value="8" />
                    <xs:enumeration value="9" />
                    <xs:attribute name="cde" type="xs:string" default="2634976" />
                    <xs:attribute name="xsd_ver" type="xs:string" default="2.3" />
                    <xs:attribute name="tier" type="xs:string" default="2" />
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
 
</xs:schema>
