tcga.nci/bcr/xml/clinical/esca/2.7/TCGA_BCR.ESCA_Clinical.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema elementFormDefault="qualified" version="2.7.12"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7"
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
    xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
	xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7"
	xmlns:shared_stage="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7"
	xmlns:pd="http://tcga.nci/bcr/xml/clinical/shared/demographic/2.7"
	xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7"
	xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7"
	xmlns:esca_stad_shared="http://tcga.nci/bcr/xml/clinical/shared/esca_stad/2.7"
	xmlns:esca_nte="http://tcga.nci/bcr/xml/clinical/esca/shared/new_tumor_event/2.7/1.0"
	xmlns:follow_up_v4.0="http://tcga.nci/bcr/xml/clinical/esca/followup/2.7/4.0"
	xmlns="http://tcga.nci/bcr/xml/clinical/esca/2.7"
	targetNamespace="http://tcga.nci/bcr/xml/clinical/esca/2.7">
	
  <xs:annotation>
    <xs:documentation xml:lang="en">Schema to define the elements of the esca study.</xs:documentation>
  </xs:annotation>
  
  <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd"/>
  <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd"/>
  <xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
  <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd"/>
  <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/demographic/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Demographic_Elements.xsd"/>
  <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd"/>
  <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd"/>
  <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/esca_stad/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_ESCA_STAD_Elements.xsd"/>
  <xs:import namespace="http://tcga.nci/bcr/xml/clinical/esca/shared/new_tumor_event/2.7/1.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/esca/shared/2.7/TCGA_BCR.ESCA_Clinical_NTEs_v1.0.xsd"/>
  <xs:import namespace="http://tcga.nci/bcr/xml/clinical/esca/followup/2.7/4.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/esca/followup/2.7/TCGA_BCR.ESCA_Clinical_FollowUp_v4.0.xsd"/>
  <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/stage/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Stage_Clinical_Elements.xsd"/>
  
	<xs:element name="tcga_bcr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="admin:admin"/>
				<xs:element ref="patient"/>
			</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="patient">
    <xs:complexType>
		<xs:sequence>
			<xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="shared:tissue_source_site"/>
			<xs:element ref="shared:patient_id"/>
			<xs:element ref="shared:bcr_patient_barcode"/>
			<xs:element ref="shared:bcr_patient_uuid"/>
			<xs:element ref="clin_shared:informed_consent_verified"/>
			<xs:element ref="clin_shared:icd_o_3_site"/>
			<xs:element ref="clin_shared:icd_o_3_histology"/>
			<xs:element ref="clin_shared:icd_10"/>
			<xs:element ref="clin_shared:tissue_prospective_collection_indicator"/>
			<xs:element ref="clin_shared:tissue_retrospective_collection_indicator"/>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="clin_shared:day_of_birth"/>
					<xs:element ref="clin_shared:month_of_birth"/>
					<xs:element ref="clin_shared:year_of_birth"/>
				</xs:sequence>
				<xs:element ref="clin_shared:days_to_birth"/>
			</xs:choice>
			<xs:element ref="pd:country_of_birth"/>
			<xs:element ref="shared:gender"/>
			<xs:element ref="clin_shared:height"/>
			<xs:element ref="clin_shared:weight"/>
			<xs:element ref="pd:country_of_procurement"/>
			<xs:element ref="pd:state_province_of_procurement"/>
			<xs:element ref="pd:city_of_procurement"/>
            <xs:element ref="clin_shared:race_list"/>
			<xs:element ref="clin_shared:ethnicity"/>
			<xs:element ref="shared:other_dx"/>
			<xs:element ref="shared:history_of_neoadjuvant_treatment"/>
			<xs:element ref="clin_shared:history_of_radiation_primary_site" minOccurs="0" maxOccurs="1" />
			<xs:element ref="clin_shared:history_of_radiation_metastatic_site" minOccurs="0" maxOccurs="1" />
			<xs:element ref="clin_shared:history_prior_surgery_indicator" minOccurs="0" maxOccurs="1" />
			<xs:element ref="clin_shared:history_prior_surgery_type" minOccurs="0" maxOccurs="1" />
			<xs:element ref="clin_shared:history_prior_surgery_type_other" minOccurs="0" maxOccurs="1" />
			<xs:element ref="clin_shared:person_neoplasm_cancer_status"/>
			<xs:element ref="clin_shared:vital_status"/>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="clin_shared:day_of_last_followup"/>
					<xs:element ref="clin_shared:month_of_last_followup"/>
					<xs:element ref="clin_shared:year_of_last_followup"/>
				</xs:sequence>
				<xs:element ref="clin_shared:days_to_last_followup"/>
			</xs:choice>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="clin_shared:day_of_death"/>
					<xs:element ref="clin_shared:month_of_death"/>
					<xs:element ref="clin_shared:year_of_death"/>
				</xs:sequence>
				<xs:element ref="clin_shared:days_to_death"/>
			</xs:choice>
			<xs:element ref="clin_shared:patient_progression_status" minOccurs="0" maxOccurs="1" />
			<xs:element ref="clin_shared:progression_dates" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="shared:tobacco_smoking_history"/>
			<xs:element ref="clin_shared:age_began_smoking_in_years"/>
			<xs:element ref="clin_shared:stopped_smoking_year"/>
			<xs:element ref="clin_shared:number_pack_years_smoked"/>
			<xs:element ref="clin_shared:alcohol_history_documented"/>
			<xs:element ref="clin_shared:frequency_of_alcohol_consumption"/>
			<xs:element ref="clin_shared:amount_of_alcohol_consumption_per_day"/>
			<xs:element ref="esca_stad_shared:reflux_history"/>
			<xs:element ref="antireflux_treatment_types"/>
			<xs:element ref="esca_stad_shared:h_pylori_infection"/>
			<xs:element ref="initial_diagnosis_by"/>
			<xs:element ref="esca_stad_shared:barretts_esophagus"/>
			<xs:element ref="goblet_cells_present"/>
			<xs:element ref="history_of_esophageal_cancer"/>
			<xs:element ref="number_of_relatives_diagnosed"/>

			<xs:element ref="shared_stage:stage_event"/>

			<xs:element ref="molecular_markers" minOccurs="0" maxOccurs="1" />

			<xs:element ref="primary_pathology"/>

			<xs:element ref="esca_nte:new_tumor_events" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date the interviewer originally completed the corresponding TCGA Clinical Data Form.
						If modifications are made after the form is marked complete, this date should not change.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element ref="clin_shared:day_of_form_completion"/>
					<xs:element ref="clin_shared:month_of_form_completion"/>
					<xs:element ref="clin_shared:year_of_form_completion"/>
				</xs:sequence>
			  <xs:element ref="clin_shared:days_to_form_completion"/>
			</xs:choice>
			<xs:element ref="clin_shared:response" minOccurs="0" maxOccurs="1" />

			<xs:element ref="follow_ups"/>
			<xs:element ref="rx:drugs"/>
			<xs:element ref="rad:radiations"/>
			
			<xs:element ref="clin_shared:unstructured" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="molecular_markers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="molecular_marker" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="molecular_marker">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="clin_shared:molecular_abnormality_results" />
        <xs:element ref="clin_shared:molecular_abnormality_results_other" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="primary_pathology" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="clin_shared:tumor_tissue_site"/>
        <xs:element ref="clin_shared:anatomic_neoplasm_subdivision_other" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="esophageal_tumor_cental_location"/>
        <xs:element ref="esophageal_tumor_involvement_sites"/>
        <xs:element ref="shared:histological_type"/>
        <xs:element ref="shared:histological_type_other" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="columnar_metaplasia_present"/>
        <xs:element ref="columnar_mucosa_goblet_cell_present"/>
        <xs:element ref="columnar_mucosa_dysplasia"/>
        <xs:element ref="shared:neoplasm_histologic_grade"/>
        <xs:choice>
          <xs:sequence>
            <xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis"/>
            <xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis"/>
          </xs:sequence>
          <xs:sequence>
            <xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis"/>
            <xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis"/>
          </xs:sequence>
        </xs:choice>
        <xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis"/>
        <xs:element ref="clin_shared:initial_pathologic_diagnosis_method"/>
        <xs:element ref="clin_shared:init_pathology_dx_method_other"/>
        <xs:element ref="lymph_node_metastasis_radiographic_evidence"/>
        <xs:element ref="clin_shared:primary_lymph_node_presentation_assessment"/>
        <xs:element ref="clin_shared:lymph_node_examined_count"/>
        <xs:element ref="clin_shared:number_of_lymphnodes_positive_by_he"/>
        <xs:element ref="clin_shared:number_of_lymphnodes_positive_by_ihc"/>
        <xs:element ref="planned_surgery_status"/>
        <xs:element ref="treatment_prior_to_surgery"/>
        <xs:element ref="clin_shared:residual_tumor"/>
        <xs:element ref="clin_shared:karnofsky_performance_score"/>
        <xs:element ref="clin_shared:eastern_cancer_oncology_group"/>
        <xs:element ref="clin_shared:radiation_therapy"/>
        <xs:element ref="clin_shared:postoperative_rx_tx"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="follow_ups">
    <xs:annotation>
      <xs:documentation xml:lang="en">
                We are using namespaces and version numbers to distinguish one version of followup from another.
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="follow_up_v4.0:follow_up" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
  <xs:element name="antireflux_treatment_types">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="esca_stad_shared:antireflux_treatment_type" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initial_diagnosis_by" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="utility:clinical_res_attributes">
          <xs:enumeration value=""/>
          <xs:enumeration value="Screening"/>
          <xs:enumeration value="Surveillance"/>
          <xs:enumeration value="Symptomatic"/>
          <xs:attribute name="cde" type="xs:string" default="3440213"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="goblet_cells_present" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="utility:yes_or_no">
          <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
          <xs:attribute name="cde" type="xs:string" default="3440216"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="history_of_esophageal_cancer" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="utility:yes_or_no">
          <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
          <xs:attribute name="cde" type="xs:string" default="3440217"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="number_of_relatives_diagnosed" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="utility:number_or_null">
          <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
          <xs:attribute name="cde" type="xs:string" default="3440229"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="esophageal_tumor_cental_location" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="utility:clinical_res_attributes">
          <xs:enumeration value=""/>
          <xs:enumeration value="Distal"/>
          <xs:enumeration value="Mid"/>
          <xs:enumeration value="Proximal"/>
          <xs:attribute name="cde" type="xs:string" default="3295805"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="esophageal_tumor_involvement_sites">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="esophageal_tumor_involvement_site" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="esophageal_tumor_involvement_site" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="utility:clinical_res_attributes">
          <xs:enumeration value=""/>
          <xs:enumeration value="Distal"/>
          <xs:enumeration value="Mid"/>
          <xs:enumeration value="Proximal"/>
          <xs:attribute name="cde" type="xs:string" default="3295806"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="columnar_metaplasia_present" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="utility:yes_or_no">
          <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
          <xs:attribute name="cde" type="xs:string" default="3440218"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="columnar_mucosa_goblet_cell_present" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="utility:yes_or_no">
          <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
          <xs:attribute name="cde" type="xs:string" default="3440219"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="columnar_mucosa_dysplasia" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="utility:clinical_res_attributes">
          <xs:enumeration value=""/>
          <xs:enumeration value="High grade dysplasia"/>
          <xs:enumeration value="Indefinite for dysplasia"/>
          <xs:enumeration value="Low grade dysplasia"/>
          <xs:enumeration value="Negative/no dysplasia"/>
          <xs:attribute name="cde" type="xs:string" default="3440917"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lymph_node_metastasis_radiographic_evidence" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="utility:yes_or_no">
          <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
          <xs:attribute name="cde" type="xs:string" default="3440228"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="planned_surgery_status" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="utility:clinical_res_attributes">
          <xs:enumeration value=""/>
          <xs:enumeration value="Yes"/>
          <xs:enumeration value="No"/>
          <xs:enumeration value="Surgery already performed"/>
          <xs:attribute name="cde" type="xs:string" default="3440231"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="treatment_prior_to_surgery" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="utility:clinical_res_attributes">
          <xs:enumeration value=""/>
          <xs:enumeration value="Chemotherapy"/>
		  <xs:enumeration value="Concurrent Chemotherapy"/>
		  <xs:enumeration value="Cryoablation"/>
          <xs:enumeration value="No Treatment"/>
          <xs:enumeration value="Radiation"/>
          <xs:enumeration value="Radiation and Chemotherapy"/>
		  <xs:enumeration value="Surgery"/>
          <xs:attribute name="cde" type="xs:string" default="3440232"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tumor_crosses_gastroesophageal_junction " nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="utility:yes_or_no">
          <xs:attributeGroup ref="utility:common_ext_attribute_group"/>
          <xs:attribute name="cde" type="xs:string" default="3295807"/>
          <xs:attribute name="xsd_ver" type="xs:string" default="2.6"/>
          <xs:attribute name="tier" type="xs:string" default="2"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
