tcga.nci/bcr/xml/clinical/sarc/2.7/TCGA_BCR.SARC_Clinical.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.8" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7"
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
	xmlns:shared="http://tcga.nci/bcr/xml/shared/2.7"
	xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7"
	xmlns:rad="http://tcga.nci/bcr/xml/clinical/radiation/2.7"
	xmlns:rx="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7"
	xmlns:sarc_shared="http://tcga.nci/bcr/xml/clinical/sarc/shared/2.7"  
	xmlns:sarc_nte="http://tcga.nci/bcr/xml/clinical/sarc/shared/new_tumor_event/2.7/1.0"
	xmlns:follow_up_v4.0="http://tcga.nci/bcr/xml/clinical/sarc/followup/2.7/4.0"
	xmlns="http://tcga.nci/bcr/xml/clinical/sarc/2.7"
	targetNamespace="http://tcga.nci/bcr/xml/clinical/sarc/2.7">
    
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the sarc study.</xs:documentation>
    </xs:annotation>
  
    <xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/shared/2.7/TCGA_BCR.Shared_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/radiation/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/radiation/2.7/TCGA_BCR.Radiation.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/pharmaceutical/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/pharmaceutical/2.7/TCGA_BCR.Pharmaceutical.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/sarc/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/sarc/shared/2.7/TCGA_BCR.SARC_Clinical_Shared_Datatypes.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/sarc/shared/new_tumor_event/2.7/1.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/sarc/shared/2.7/TCGA_BCR.SARC_Clinical_NTEs.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/sarc/followup/2.7/4.0" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/sarc/followup/2.7/TCGA_BCR.SARC_Clinical_FollowUp_v4.0.xsd" />
    
    <xs:element name="tcga_bcr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="admin:admin" />
                <xs:element ref="patient" />
            </xs:sequence>
            
            <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="2.7"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="patient">
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="admin:additional_studies" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="shared:tissue_source_site" />
                <xs:element ref="shared:patient_id" />
                <xs:element ref="shared:bcr_patient_barcode" />
                <xs:element ref="shared:bcr_patient_uuid" />
                <xs:element ref="clin_shared:informed_consent_verified" />
                <xs:element ref="clin_shared:icd_o_3_site" />
                <xs:element ref="clin_shared:icd_o_3_histology" />
                <xs:element ref="clin_shared:icd_10" />
                  
                <xs:element ref="clin_shared:tissue_prospective_collection_indicator" /> 
                <xs:element ref="clin_shared:tissue_retrospective_collection_indicator" />
				
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_birth" /> 
                        <xs:element ref="clin_shared:month_of_birth" /> 
                        <xs:element ref="clin_shared:year_of_birth" /> 
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_birth" />
                </xs:choice>
                
                <xs:element ref="shared:gender" />
				<xs:element ref="clin_shared:race_list"/>
                <xs:element ref="clin_shared:ethnicity" /> 
                <xs:element ref="shared:other_dx" /> 
                <xs:element ref="shared:history_of_neoadjuvant_treatment" /> 
                <xs:element ref="clin_shared:vital_status" /> 
                
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_followup" /> 
                        <xs:element ref="clin_shared:month_of_last_followup" /> 
                        <xs:element ref="clin_shared:year_of_last_followup" /> 
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_last_followup" />
                </xs:choice>
				
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_death" /> 
                        <xs:element ref="clin_shared:month_of_death" /> 
                        <xs:element ref="clin_shared:year_of_death" /> 
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_death" />
                </xs:choice>
				
				<xs:element ref="clin_shared:radiation_therapy" />
				<xs:element ref="clin_shared:postoperative_rx_tx" />
				<xs:element ref="clin_shared:person_neoplasm_cancer_status" />
				<xs:element ref="primary_pathology" />
				<xs:element ref="sarc_nte:new_tumor_events" minOccurs="1" maxOccurs="1" />
				
				<xs:choice>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
							If modifications are made after the form is marked complete, this date should not change.
						</xs:documentation>
					</xs:annotation>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />  
                        <xs:element ref="clin_shared:month_of_form_completion" />  
                        <xs:element ref="clin_shared:year_of_form_completion" />  
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_form_completion" />   
                </xs:choice> 
				
                <xs:element ref="follow_ups" />
                <xs:element ref="rx:drugs" />
                <xs:element ref="rad:radiations" />
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="tumor_tissue_sites" nillable="true">
		<xs:complexType>
          <xs:sequence >
            <xs:element ref="clin_shared:tumor_tissue_site" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
	</xs:element>
	
	<xs:element name="primary_pathology" nillable="true">
		<xs:complexType>
			<xs:sequence >
				<xs:element ref="shared:histological_type"/>
				<xs:element ref="sarc_shared:leiomyosarcoma_histologic_subtype"> 
				<xs:annotation>
					<xs:documentation>
						This field is conditional on whether 'histological_type' has the value 'Leiomyosarcoma (LMS)'
						This field will only be applicable when 'histological_type' has the value 'Leiomyosarcoma (LMS)'
					</xs:documentation>
				</xs:annotation>
				</xs:element>
				<xs:element ref="sarc_shared:primary_tumor_lower_uterus_segment"> 
					<xs:annotation>
						<xs:documentation>
							This field is conditional on whether 'histological_type' has the value 'Leiomyosarcoma (LMS)'
							This field will only be applicable when 'histological_type' has the value 'Leiomyosarcoma (LMS)'
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="sarc_shared:leiomyosarcoma_major_vessel_involvement">
					<xs:annotation>
						<xs:documentation>
							This field is conditional on whether 'histological_type' has the value 'Leiomyosarcoma (LMS)'
							This field will only be applicable when 'histological_type' has the value 'Leiomyosarcoma (LMS)'
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			
				<xs:element ref="synovial_sarcoma" minOccurs="0" maxOccurs="1"/>
		
				<xs:element ref="sarc_shared:tumor_depth" />
				<xs:element ref="tumor_tissue_sites" />
				<xs:element ref="clin_shared:tumor_tissue_site_other" />
				<xs:choice>
					<xs:sequence>
						<xs:element ref="clin_shared:day_of_initial_pathologic_diagnosis" /> 
						<xs:element ref="clin_shared:month_of_initial_pathologic_diagnosis" /> 
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="clin_shared:days_to_initial_pathologic_diagnosis" />
						<xs:element ref="clin_shared:age_at_initial_pathologic_diagnosis" />
					</xs:sequence>
				</xs:choice>
				<xs:element ref="clin_shared:year_of_initial_pathologic_diagnosis" />	
				<xs:element ref="clin_shared:margin_status" />
				<xs:element ref="clin_shared:residual_tumor" /> 
				<xs:element ref="sarc_shared:tumor_total_necrosis_percent" />
				<xs:element ref="shared:tumor_necrosis_percent" />
				<xs:element ref="sarc_shared:mitotic_count" />
				<xs:element ref="sarc_shared:tumor_multifocal" />
				<xs:element ref="sarc_shared:discontiguous_lesion_count" />
				<xs:element ref="sarc_shared:tumor_sizes" />
				<xs:element ref="sarc_shared:radiologic_tumor_burden" />
				<xs:element ref="sarc_shared:pathologic_tumor_burden" />
				<xs:element ref="sarc_shared:local_disease_recurrence" />
				<xs:element ref="shared:metastatic_diagnosis" />
				<xs:element ref="clin_shared:metastatic_site_at_diagnosis" />
				<xs:element ref="clin_shared:metastatic_site_at_diagnosis_other" />
				<xs:element ref="sarc_shared:contiguous_organ_resection_site" />
				<xs:element ref="sarc_shared:other_contiguous_organ_resection_site" />
				<xs:element ref="sarc_shared:contiguous_organ_invaded" />
				<xs:element ref="sarc_shared:well_differentiated_liposarcoma_primary_dx" />
				<xs:choice>
					<xs:sequence>
						<xs:element ref="sarc_shared:day_of_well_differentiated_liposarcoma_primary_dx" /> 
						<xs:element ref="sarc_shared:month_of_well_differentiated_liposarcoma_primary_dx" /> 
						<xs:element ref="sarc_shared:year_of_well_differentiated_liposarcoma_primary_dx" />
					</xs:sequence>
					<xs:element ref="sarc_shared:days_to_well_differentiated_liposarcoma_primary_dx" />
				</xs:choice>
				
				<xs:choice>
					<xs:sequence>
						<xs:element ref="sarc_shared:day_of_well_differentiated_liposarcoma_resection" /> 
						<xs:element ref="sarc_shared:month_of_well_differentiated_liposarcoma_resection" /> 
						<xs:element ref="sarc_shared:year_of_well_differentiated_liposarcoma_resection" />
					</xs:sequence>
					<xs:element ref="sarc_shared:days_to_well_differentiated_liposarcoma_resection" />
				</xs:choice>
		
			</xs:sequence >		
        </xs:complexType>
	</xs:element>
	
	
	<xs:element name="follow_ups">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                We are using namespaces and version numbers to distinguish one version of followup from another.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="follow_up_v4.0:follow_up" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="synovial_sarcoma">
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="sarc_shared:ss18_ssx_fusion_status"/>
				<xs:element ref="sarc_shared:ss18_ssx_testing_method"/>
				<xs:element ref="sarc_shared:mpnst_neurofibromatosis"/>
				<xs:element ref="sarc_shared:mpnst_neurofibromatosis_heredity"/>
				<xs:element ref="sarc_shared:mpnst_exisiting_plexiform_neurofibroma"/>
				<xs:element ref="sarc_shared:mpnst_nf1_genetic_testing"/>
				<xs:element ref="sarc_shared:mpnst_specific_mutations"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
</xs:schema>
