tcga.nci/bcr/xml/clinical/ucec/followup/2.7/TCGA_BCR.UCEC_Clinical_FollowUp_v2.0.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema elementFormDefault="qualified" version="2.7.6" 

	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:utility="http://tcga.nci/bcr/xml/utility/2.7"
	xmlns:admin="http://tcga.nci/bcr/xml/administration/2.7"
	xmlns:clin_shared="http://tcga.nci/bcr/xml/clinical/shared/2.7"
	xmlns:nte="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.7"
	xmlns:ucec_ucs_shared="http://tcga.nci/bcr/xml/clinical/shared/ucec_ucs/2.7"
	xmlns="http://tcga.nci/bcr/xml/clinical/ucec/followup/2.7/2.0"
	targetNamespace="http://tcga.nci/bcr/xml/clinical/ucec/followup/2.7/2.0"> 
 
	<xs:import namespace="http://tcga.nci/bcr/xml/utility/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/utility/2.7/TCGA_BCR.Utility.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/administration/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/administration/2.7/TCGA_BCR.Administration.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_Elements.xsd" />
    <xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/new_tumor_event/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_New_Tumor_Event_Elements.xsd" />
	<xs:import namespace="http://tcga.nci/bcr/xml/clinical/shared/ucec_ucs/2.7" schemaLocation="https://raw.githubusercontent.com/nchbcr/xsd/2.7/tcga.nci/bcr/xml/clinical/shared/2.7/TCGA_BCR.Shared_Clinical_UCEC_UCS_Elements.xsd"/>
	
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema to define the elements of the TCGA clinical data follow-up form within the UCEC study.</xs:documentation>
    </xs:annotation>
	
	<xs:element name="follow_up">
		<xs:complexType>
            <xs:sequence>
                <xs:element ref="clin_shared:bcr_followup_barcode" />
                <xs:element ref="clin_shared:bcr_followup_uuid" />
				
				
				<xs:element ref="clin_shared:followup_case_report_form_submission_reason">
					<xs:annotation>
                        <xs:documentation xml:lang="en">
						NEW question that was added on the TCGA Clinical Data Follow-up (starting with v2.0) Form within the UCEC study.
						</xs:documentation>
                    </xs:annotation>
				</xs:element>
				<xs:element ref="clin_shared:radiation_therapy" />
				<xs:element ref="clin_shared:targeted_molecular_therapy" />
				<xs:element ref="ucec_ucs_shared:horm_ther" />
				<xs:element ref="clin_shared:birth_control_pill_history_usage_category" />
				<xs:element ref="ucec_ucs_shared:prior_tamoxifen_administered_usage_category" />
				<xs:element ref="ucec_ucs_shared:hypertension" />
				<xs:element ref="ucec_ucs_shared:diabetes" />
				<xs:element ref="ucec_ucs_shared:pregnancies" />
				<xs:element ref="ucec_ucs_shared:colorectal_cancer" />
				<xs:element ref="clin_shared:vital_status">
					<xs:annotation>
                        <xs:documentation xml:lang="en">
						Data for the vital_status element is also asked on the 
						TCGA Clinical Data Form during initial enrollment within the UCEC study. 
						</xs:documentation>
                    </xs:annotation>
				</xs:element>
				<xs:choice>
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
						Data for the DATE_of_last_followup elements are also asked on the 
						TCGA Clinical Data Form during initial enrollment within the UCEC study. 
						</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_last_followup" />
                        <xs:element ref="clin_shared:month_of_last_followup" />
                        <xs:element ref="clin_shared:year_of_last_followup" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_last_followup" />
                </xs:choice>
				<xs:choice>
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
						Data for the DATE_of_death elements are also asked on the 
						TCGA Clinical Data Form during initial enrollment within the BRCA study. 
					</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_death" />
                        <xs:element ref="clin_shared:month_of_death" />
                        <xs:element ref="clin_shared:year_of_death" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_death" />
                </xs:choice>
				<xs:element ref="clin_shared:person_neoplasm_cancer_status">
					<xs:annotation>
                        <xs:documentation xml:lang="en">
						Data for the person_neoplasm_cancer_status element is also asked on the 
						TCGA Clinical Data Form during initial enrollment within the UCEC study. 
						</xs:documentation>
                    </xs:annotation>
				</xs:element>
				<xs:element ref="clin_shared:primary_therapy_outcome_success" />
				<xs:element ref="clin_shared:additional_treatment_completion_success_outcome" />
				
				<xs:element ref="nte:new_tumor_event_after_initial_treatment">
					<xs:annotation>
                        <xs:documentation xml:lang="en">
						NEW question that was added on the TCGA Clinical Data Follow-up (starting with v2.0) Form within the UCEC study.
						</xs:documentation>
                    </xs:annotation>
				</xs:element>
				<xs:choice>
                    <xs:sequence>
                        <xs:element ref="nte:day_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="nte:month_of_new_tumor_event_after_initial_treatment" />
                        <xs:element ref="nte:year_of_new_tumor_event_after_initial_treatment" />
                    </xs:sequence>
                    <xs:element ref="nte:days_to_new_tumor_event_after_initial_treatment" />  
                </xs:choice>
				
				<xs:element ref="nte:new_neoplasm_event_occurrence_anatomic_site">
					<xs:annotation>
                        <xs:documentation xml:lang="en">
						NEW question that was added on the TCGA Clinical Data Follow-up (starting with v2.0) Form within the UCEC study.
						</xs:documentation>
                    </xs:annotation>
				</xs:element>
				<xs:element ref="nte:new_neoplasm_occurrence_anatomic_site_text">
					<xs:annotation>
                        <xs:documentation xml:lang="en">
						NEW question that was added on the TCGA Clinical Data Follow-up (starting with v2.0) Form within the UCEC study.
						
						Data for the new_neoplasm_occurrence_anatomic_site_text element is *only* asked on the 
						TCGA Clinical Data Follow-up (starting with v2.0) Form within the UCEC study, *and only* when 
						an answer of 'Other (please specify)' is provided for new_neoplasm_event_occurrence_anatomic_site. 
						</xs:documentation>
                    </xs:annotation>
				</xs:element>
				<xs:element ref="nte:new_neoplasm_event_type">
					<xs:annotation>
                        <xs:documentation xml:lang="en">
						NEW question that was added on the TCGA Clinical Data Follow-up (starting with v2.0) Form within the UCEC study.
						</xs:documentation>
                    </xs:annotation>
				</xs:element>
				<xs:element ref="nte:additional_surgery_locoregional_procedure" />
				<xs:choice>
                    <xs:sequence>        
                        <xs:element ref="nte:day_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="nte:month_of_additional_surgery_metastatic_procedure" />
                        <xs:element ref="nte:year_of_additional_surgery_metastatic_procedure" />
                    </xs:sequence>
                    <xs:element ref="nte:days_to_additional_surgery_metastatic_procedure" />  
                </xs:choice> 
				<xs:element ref="ucec_ucs_shared:recurrence_second_surgery_neoplasm_surgical_procedure_name" />
                <xs:element ref="ucec_ucs_shared:recurrence_second_surgery_neoplasm_surgical_procedure_name_other">
					<xs:annotation><xs:documentation>
						Data for the recurrence_second_surgery_neoplasm_surgical_procedure_name_other element is *only* asked on the 
						TCGA Clinical Data Follow-up Form within the UCEC study, *and only* when 
						an answer of 'Other (please specify)' is provided for recurrence_second_surgery_neoplasm_surgical_procedure_name.
					</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element ref="nte:residual_disease_post_new_tumor_event_margin_status" />
				<xs:element ref="nte:additional_radiation_therapy" />
				<xs:element ref="nte:additional_pharmaceutical_therapy" />
				
                <xs:choice>
                    <xs:annotation>
                        <xs:documentation>
							Date the interviewer originally completed the corresponding TCGA Clinical Data Form. 
							If modifications are made after the form is marked complete, this date should not change.
						</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element ref="clin_shared:day_of_form_completion" />
                        <xs:element ref="clin_shared:month_of_form_completion" />
                        <xs:element ref="clin_shared:year_of_form_completion" />
                    </xs:sequence>
                    <xs:element ref="clin_shared:days_to_form_completion" />
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" default="2.0" use="optional"/>
			<xs:attribute name="sequence" type="xs:integer" />
        </xs:complexType>
    </xs:element>
</xs:schema>
				
				
